[2021-10-08 15:17] edwintse opened #1 "Planning for the synthesis of the "made" compounds"
Just briefly, based on [the analysis of the fragments done by Heba](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/tree/main/FIle%20Diary/2021/Sept), we have decided on 3 target compounds to make based on her pharmacophore/merging of overlapping fragments (_more background on this will follow shortly on the Wiki_).

![Untitled Wiley-2](https://user-images.githubusercontent

[2021-10-10 23:43] TomkUCL commented on #1
Hi all,
Here are some initial ideas for a synthetic strategy towards the first target molecule (TM-001), with a nod to this years Nobel prize with an organocatalysed oxidation in step 4! Of course if anyone can see any potential problems or a shorter route, feel free to leave feedback.

[6 step synthesis of TM-001.pdf](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-Site16/files/7318490

[2021-10-15 16:05] mattodd opened #2 "Initial Analysis of the site by Heba"
Hebaalla Agha (@H-agha) from UNC carried out the original analysis of the fragment cluster found to bind to this site (termed C-terminus-B in the original paper, colloquially internally referred to as Site 3).

The 2D and 3D interaction diagrams for all the fragments may be seen in [this Word file](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/blob/main/FIle%20Diary/2021/

[2021-10-17 14:56] mattodd opened #3 "Top 100 Purchaseable Predictions"
Konstantin Popov (UNC Chapel Hill, @kipUNC) has carried out the first predictions of purchaseable compounds that should bind the C-terminus-B site. The PDF is [here](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/blob/main/FIle%20Diary/2021/Oct%202021/Kostya%20Enamine%20Predictions/nsp13-site3-Enamine-top100.pdf). Screenshot:

<a href="url"><img src="https://github.com/Str

[2021-10-21 13:36] mattodd opened #4 "UCL Nsp13 minimeetings October 2021"
Local team meeting. Please share what you presented, or some nano notes, by editing this text. _No more than 5 minutes effort_, absolute maximum.

@edwintse

@TomkUCL

@jemimahaque

@lindapatio

@bhzhx

[2021-10-21 13:49] lindapatio commented on #4
[21st October Team Meeting.pdf](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7389534/21st.October.Team.Meeting.pdf)

[2021-10-22 13:18] mattodd opened #5 "Adding to the Wiki Background Section of Other Nsp13 Inhibitors"
Hi @lindapatio. We were talking the other day about the need to improve the [wiki](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/wiki) in terms of its coverage of molecules known to inhibit Nsp13, and in particular _to focus on any other molecules known to bind at site C-terminus-B_.

I added the paper found by @TomkUCL [here](https://github.com/StructuralGenomicsConsorti

[2021-10-31 10:54] lindapatio commented on #5
https://www.tandfonline.com/doi/full/10.1080/13543776.2021.1884224

This study identified patented small molecules that are able to inhibit nsp13. The most potent molecule identified was **SSYA10-001** which is a 1,2,4-triazole compound. It exerts a **noncompetitive** inhibition effect with respect to ATP and nucleic acid substrate. Further studies have shown its ability to also inhibit SARS-COv,

[2021-10-31 19:53] lindapatio commented on #5
This study utilised a molecular dynamic simulation to examine the protein's binding site and interaction with ligands.  Cordycepin (https://en.wikipedia.org/wiki/Cordycepin) and pritelivir (https://en.wikipedia.org/wiki/Pritelivir) showed favourable pharmacokinetics. Here is the link to the short description: https://www.tandfonline.com/doi/full/10.1080/07391102.2021.1970024?scroll=top&needAccess=

[2021-11-01 11:17] lindapatio commented on #5
A study that outlined class of compounds that would be able to inhibit helicase enzymes in pathogens belonging to the Flaviviridae, Coronaviridae, and Picornaviridae families. The compound classes are as follows: benzotriazole, imidazole, imidazo-diazepine, phenothiazine, quinoline, anthracycline, triphenylmethane, tropolone, pyrrole, acridone, small peptide, and Bananin derivatives
https://doi.or

[2021-11-02 10:02] mattodd commented on #4
*** Nsp13 UCL Meeting notes 29/10/21

- [ ] @edwintse Reach out to Joseph at Diamond for nsp13 soaking of our synthesised fragments (ca 2 weeks?). Whats the format, and for shipping?

Toronto (Masoud) doing ATPase assay with 30 uM detection limit, which we think Oxford is developing.

- [ ] We need the docking data on our proposed compounds from Kostya. @lindapatio to reach out and get these and p

[2021-11-02 12:15] edwintse commented on #4
The file below contains the 100 hits as SMILES from Kostya and a DataWarrior session of the similarity analysis.

[Similarity analysis.zip](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7460294/Similarity.analysis.zip)

[2021-11-02 15:54] mattodd commented on #4
@kipUNC - see above for the clustering. Ed's going to have a go with Datawarrior, I think?

[2021-11-02 15:59] kipUNC commented on #4
Thank you! If you can select like 10 you like, will be great!

[2021-11-02 21:55] lindapatio commented on #4
The file below shows the docking data for the top 200 proposed compounds from Kostya:

[PyMOL (nsp13-site3-denstiyScreen-top200.pse.zip](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7464191/PyMOL.nsp13-site3-denstiyScreen-top200.pse.zip)

[2021-11-05 10:45] edwintse commented on #4
Here is what you get from the analysis view of the 100 hits. Clicking on each of the points will colour-code other compounds which are similar (green to red for most to least similar). I'm not sure if there is a way to cluster or rank the compounds in the graph based on the number of similar compounds. @kipUNC is there any other way to do this analysis?

![Screenshot 2021-11-05 at 10 41 26 am](htt

[2021-11-05 12:11] edwintse commented on #4
Current workflow is as follows:

- Perform a substructure search on SciFinder then choose "Get Commercial Sources". View the compounds from particular suppliers (mainly Enamine)

![Screenshot 2021-11-05 at 11 57 12 am](https://user-images.githubusercontent.com/18062981/140507172-2120b324-0e2f-4d72-bdfd-dff2f4712491.png)

- Perform a similarity search on SciFinder and choose filters depending on th

[2021-11-05 13:56] edwintse opened #6 "Choosing 10 compounds to buy"
![PastedGraphic-1](https://user-images.githubusercontent.com/18062981/140521443-9d48d9fd-c2b1-4627-b45b-f064ee98059d.png)

Compound code | SMILES
-- | --
Z1980543937 | O=C(Nc1ccc(Cl)cc1)N1CCC(c2nc(=O)[nH][nH]2)CC1
Z29215694 | O=C(Cc1ccc(Cl)cc1)Nc1ccc2c(c1)NC(=O)CO2
Z16219632 | O=C1CSc2ccc(C(=O)OCC(=O)c3ccc(F)cc3)cc2N1
Z1732170310 | O=C(Nc1ccc(F)cn1)NC1CCN(CC2CCOC2)CC1
Z1866425571 | O=C(NC1CCN(CC2C

[2021-11-08 13:33] mattodd commented on #6
OK, so we need to get down to 10? Numbering from left to right, it looks like we have some similar pairs, from which we can select one without losing too much.
e.g.
13 and 16.
2 and 6
Others? @TomkUCL @edwintse @H-agha @jemimahaque @kipUNC

[2021-11-08 13:35] edwintse commented on #6
Also:
5 and 9
1 and 8

[2021-11-09 00:43] H-agha commented on #6
I think these pairs are somehow closely related as well
1  and 3
2 and 11
4 and 12

NB:  five different compounds
7 is unique in 3D
10 has two substituted aromatic rings at both ends (one substituted with para fluorine and the other has meta hydroxyl).
14 (most compounds that has two aromatics at both ends one of them is phenyl and the other is five membered ring but compound 14 has phenyl and bul

[2021-11-09 12:49] mattodd commented on #1
What does Scifinder tell us about the most similar molecules to the pharmacophore that have been made (but are not commercially available). We should be checking this too! @edwintse @TomkUCL

[2021-11-10 15:31] TomkUCL commented on #6
6 and 11, 11 has two halogens on its terminal aryl group and is slightly lengthier.
2 and 11
1 and 8
5 and 9
7, 10, 14, 15, 17 look unique to me as well.

[2021-11-10 20:49] H-agha commented on #6
Tom, do you mean 6 & 16 have two halogens? 15 as well has two halogens.

[2021-11-11 14:41] lindapatio opened #7 "Trying to install Data Warrior on Mac (MacOs 11.1)"
Hi I'm Linda, a final year MPharm student doing my 3 month masters project with Prof Todd. I need to install Datawarrior but I'm having issues with opening the software, the popup (shown below) keeps showing whenever I try to open the app. Would anyone be able to help please?
@drc007 @edwintse @mattodd
<img width="258" alt="Screenshot 2021-11-11 at 14 31 04" src="https://user-images.githubusercont

[2021-11-11 14:47] drc007 commented on #7
Hi,

Open “settings” and go to Security and Privacy.

Under “Apps downloaded from” you should see an option open anyway.

This often happens with software not downloaded from the AppStore.

Cheers

Chris

[2021-11-11 14:58] mattodd commented on #7
@lindapatio give @drc007 a harder problem next time :)

[2021-11-11 15:00] lindapatio commented on #7
@drc007 Ohhh it worked thank you so much!

@mattodd I'll keep a note of that for future references hahaha

[2021-11-11 15:18] lindapatio commented on #7
Hi! I have another question, which unfortunately isn't complicated (I hope). @drc007 would you be able to help me with setting up the Jupyter Notebook please? I think I'm missing the "notebook for docking" in my home page. My username is UCNVLC8

Thanks for your help!

<img width="721" alt="Screenshot 2021-11-11 at 15 09 40" src="https://user-images.githubusercontent.com/92246733/141322077-acc6d66

[2021-11-11 15:58] drc007 commented on #7
This looks like you are running on the UCL cluster? If so you will need to talk to the cluster admin who I think is Frank Otto? @mattodd will probably know.

[2021-11-11 16:21] lindapatio commented on #7
@drc007 thank you for your help! I'll send an email to Frank Otto

[2021-11-12 09:03] TomkUCL commented on #1
Just a quick update on where we are at with the first molecule, the relevant LabArchive links are shown below:

We first tried two amide couplings (reaction with sulfonyl chloride and with EDAC); both were low yielding (around 30% and 21% respectively); Jemima managed to improve yields for the meta-CF3 analogue from 39% to 64% using HOBt and DMAP (reference ![image](https://user-images.githubuserc

[2021-11-12 15:19] TomkUCL commented on #1
We are currently planning routes based around the site 16 pharmacophore designed by Hebba (see below). Notably, we want to focus on the specific coloured interactions shown in the structure.
![image](https://user-images.githubusercontent.com/92033163/141487658-9a933640-35ef-4116-ad1e-60ed3d628870.png).

The fragments shown below in red have now been made through a 2-step amide coupling/ alkyl lith

[2021-11-16 11:20] TomkUCL commented on #1
Synthesised novel molecule #1 confirmed by 1H and 13C NMR:

![image](https://user-images.githubusercontent.com/92033163/141975653-94b4f3ed-1540-4d80-8015-96dee3e7e649.png)

1H NMR 84% pure by 1H-NMR; some aliphatic impurities remain despite wash with 1:1 MeCN/Hexanes to remove plasticizers.  These are suspected from the nBuLi step in which a plastic (rather than glass syringe was used.

H NMR (400

[2021-11-16 19:06] TomkUCL commented on #1
Potential plan for molecule #3 (right hand side); reference here https://pubs-acs-org.libproxy.ucl.ac.uk/doi/full/10.1021/acs.jmedchem.5b00560

![image](https://user-images.githubusercontent.com/92033163/142049197-9f1916e5-6780-4d8f-9d41-f17174e0ac9f.png)

[2021-11-16 23:09] jemimahaque commented on #1
Could this also be a possible route? It allows addition of the alkyl group to the pyrrole in the presence of an EWG (ester group) which could subsequently be used to introduce the amide maybe? But would be missing a CH2 group
Reference:  https://doi.org/10.1002/ange.201301154

![image](https://user-images.githubusercontent.com/92172625/142078263-aaabad73-3ad8-4c53-87b5-3d3bedeec935.png)

[2021-11-16 23:56] TomkUCL commented on #1
@jemimahaque  good spot! This could be a useful alkylation method. As for the ester group, this isn’t necessarily a problem since the pharmacophore model actually preferred the carbonyl at position 2, so we could have that extra CH2 on the NH side of the amide bond instead (I.e. an extra CH2 on the amine that we are coupling with). This also means we could lengthen / change that RHS of the molecul

[2021-11-17 00:28] TomkUCL commented on #1
@mattodd @edwintse I wonder how important it is that the hydrophobic chain is in the 3-position on the pyrrole? especially given that one of those products looks suspiciously similar to our pharmacophore…

![D96A9179-6173-468C-A6CA-151B95D8EEC1](https://user-images.githubusercontent.com/92033163/142087227-b92ab4e7-8158-4896-b287-cb4648266f12.jpeg)

[2021-11-17 00:31] jemimahaque commented on #1
Yep, that sounds good.

We could also try adding the CH2 with this:

![image](https://user-images.githubusercontent.com/92172625/142087451-236aef28-487b-46bf-8527-7733a82b3e29.png)

[2021-11-17 00:32] jemimahaque commented on #1
Yep, that sounds good.

We could also try adding the CH2 with this:

![image](https://user-images.githubusercontent.com/92172625/142087451-236aef28-487b-46bf-8527-7733a82b3e29.png)

[2021-11-17 00:38] TomkUCL commented on #1
Hmm you could.. although I’m not sure how keen I’d be to use dioxane, thionyl chloride and diazomethane in a synthesis! Maybe as a last resort.

![54D1ADF5-C697-413F-B290-855A5544DECF](https://user-images.githubusercontent.com/92033163/142088222-7632a924-f79a-4601-8cc9-d95348b3fb62.jpeg)

[2021-11-17 15:44] mattodd commented on #1
Great work guys. Nice ideas, nice lit work. @TomkUCL that molecule **3cd** looks interesting. If we pretend for a moment that we can access that in quantity, and on the assumption that that building block is not commercially available, we could think about enumerating all the molecules we can make with it (then see if they fit well). So the building block is where the carboxylic acid is free (coup

[2021-11-17 16:08] drc007 commented on #7
Here you go, both tided up files in pdb format.
[Archive.zip](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7556149/Archive.zip)

[2021-11-17 16:15] lindapatio commented on #7
thank you very much sir!

[2021-11-17 22:42] TomkUCL commented on #1
Sure thing, here is the general scheme with references for each step that would allow us to access a range of pyrroles mimicking Heba's pharmacophore:
1a --> 1b ; Angew. Chem. Int. Ed. 2013, 52, 6080 –6083. https://doi.org/10.1002/anie.201301154
1b --> 1c ; Chemistry - A European Journal, 23(14), 3300-3320; 2017. https://scifinder.cas.org/scifinder/view/link_v1/reaction.htmll=T5OKcO0Ri0Vxs5SgbYOjG

[2021-11-18 09:08] mattodd commented on #1
Great. So can we generalise to a building block (or a generic building block with R groups) that we know we can make but which is not commercially available? i.e. if we could access it (if it can be included in "make on demand" libraries, then we could access new chemical space, which we can ask Kostya to enumerate. See what I mean?

[2021-11-18 09:28] TomkUCL commented on #1
Yeah, so we can either make the COOH / free OH building block , then enumerate from their with different ethers and amides... or we can alkylate first with different alkyl chains, then hydrolyse the ester to the carboxylic acid, which we can then enumerate with different amines. There's numerous options so I suppose it just depends on what pocket what interactions we think are more important.

[2021-11-18 13:34] TomkUCL commented on #4
Nsp13 weekly update 18.11.2021
[nsp13 weekly update 18.11.2021.pptx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7563137/nsp13.weekly.update.18.11.2021.pptx)

[2021-11-18 15:14] TomkUCL commented on #1
Nitrile building block not available on enamine or SciFinder, but can likely be made using the Pd-catalysed alkylation approach above
![image](https://user-images.githubusercontent.com/92033163/142442523-3d7d0500-9067-46df-a16f-9fcdf2bd6335.png)

[2021-11-18 17:02] lindapatio commented on #7
@drc007 Hi Prof Swain, I've tried to dock but I'm getting errors on jupyter notebook (please see attached PDF), is there a way i can rectify these issues? Also, the SMINA cell disappeared after I ran it, but I'm not sure why. Hope you can help!
[Jupyter notebook issues (1).pdf](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7564564/Jupyter.notebook.issues.1.pdf)

[2021-11-18 17:10] drc007 commented on #7
@lindapatio Are you running this locally or on the cluster?

[2021-11-18 17:16] lindapatio commented on #7
@drc007 I think I'm running this on the cluster. I'm connected to VPN

[2021-11-18 17:17] TomkUCL commented on #1
Looks like the COOH/ CN intermediate is not made by enamine and the molecule is novel.
![image](https://user-images.githubusercontent.com/92033163/142464467-c1108936-e697-4713-9fbb-861f55066244.png)

[2021-11-18 17:49] drc007 commented on #7
@lindapatio @mattodd  It looks like the environment is not set up correctly, can you check with Frank Otto?

[2021-11-18 18:07] TomkUCL commented on #1
![image](https://user-images.githubusercontent.com/92033163/142470610-fb522a91-014a-462d-8480-aece177a2a4b.png)

![image](https://user-images.githubusercontent.com/92033163/142472094-c06877ff-1a23-4007-b191-cb9bee206e16.png)

[2021-11-18 19:05] lindapatio commented on #7
@drc007 okay sure, I've emailed him.

[2021-11-19 13:26] TomkUCL commented on #1
Here's two novel compounds which we could make using the aforementioned method, which are also not commercially available from Enamine:
![image](https://user-images.githubusercontent.com/92033163/142630107-822ac5dc-ef2f-456b-a752-e912be068e66.png)

[2021-11-19 13:35] TomkUCL commented on #1
Might be a nice quick way of adding alkyl groups to either side of those pyrroles, then further functionalising (e.g. the nitrile and ester FGs):

Synlett 2005(16): 2425-2428  DOI: 10.1055/s-2005-87268 https://www.thieme-connect.de/products/ejournals/html/10.1055/s-2005-872688?update=true

![image](https://user-images.githubusercontent.com/92033163/142630307-538d22ef-19c6-48a1-8dcd-cb9a458329fc.pn

[2021-11-19 16:06] TomkUCL commented on #1
Notes from today's discussion ![image](https://user-images.githubusercontent.com/92033163/142654067-9f730d64-6c38-4f15-b2c2-22a4c3c8512b.png)

[2021-11-21 12:44] jemimahaque commented on #1
I think this xanthate radical chemistry method is also useful: https://doi.org/10.1039/B306966D
![image](https://user-images.githubusercontent.com/92172625/142760975-76575816-f14b-4bd8-8984-b41342ff8d7f.png)

I don't think the scope of this has been fully defined, but it could be worth seeing if it works with different substituents on the heterocycle? e.g.
![image](https://user-images.githubuserco

[2021-11-22 21:18] TomkUCL commented on #1
Since molecule no. 3 is proving a little trickier, I have a slightly modified structure that we should have an easier time synthesising quickly (see below). References are as follows:
1) Angew. Chem. Int. Ed. 2013, 52, 6080 –6083
https://doi.org/10.1002/anie.201301154

2) Synthesis 2019; 51(21): 4085-4105
DOI: 10.1055/s-0037-1611904

3) Ishihara, K., Ohara, S., & Yamamoto, H. (2000).
Direct Conden

[2021-11-22 21:28] mattodd opened #8 "Identifying Under-represented or NON represented building blocks"
Further to the design conversations over at #4 this might be an interesting source of some potential targets?
https://pubs.acs.org/doi/10.1021/acs.jmedchem.1c01139
@edwintse @TomkUCL @jemimahaque - see if it contains info about those simple building blocks that might be not yet known?

Or are there other studies highlighting complex low molecular weight compounds that are "missing" from commercial

[2021-11-22 21:39] TomkUCL commented on #5
Identifying SARS-CoV-2 antiviral compounds by
screening for small molecule inhibitors of nsp13
helicase

https://doi.org/10.1042/BCJ20210201

Maybe some interesting points here?

"We validated suramin, suramin-like compounds and FPA-124 as nsp13 inhibitors that could be subjected to
careful structural optimization to generate clinically more useful compounds in the hope of increasing antiviral
pot

[2021-11-22 23:56] lindapatio commented on #7
Hi @mattodd Jupyter notebook works now! Prof Frank Otto sent me a modified version. I'm currently justifying one of the nature fragments: 5RMM. Please see the pymol session below for the unoptimised version of this analysis:
- [unoptimsied 5RMM.pse.zip](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7585063/unoptimsied.5RMM.pse.zip)
- there are two potential conforma

[2021-11-23 11:04] TomkUCL commented on #8
sorry not quite sure what you mean, i.e. look for unknown derivatives of these building blocks that we might be able to make?

[2021-11-23 11:09] mattodd commented on #8
I was thinking whether the article discussed "Fantastic Blocks and Where to Find Them" i.e. whether there were building blocks that would be advantageous but which ... do not yet exist (i.e. the kind of problem we're currently mulling over). Which potentially useful building blocks are conspicuous by their absence?

[2021-11-24 19:13] drc007 commented on #7
@lindapatio Great news about the notebook, I wonder if we need to keep a copy somewhere for other users?

Here is the file
[5RMM_and_NSP13updated.pdb.zip](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7598187/5RMM_and_NSP13updated.pdb.zip)

[2021-11-25 10:35] lindapatio commented on #7
@drc007 Apparently the jupyter notebook that was sent to me initially was a universal one that did not work on the UCL cluster. But the modified one from Frank Otto works and I have been in contact with Prof Kiappes who uses this in his programme, so he's aware of the differences for next term when students start using it!

Here's a copy of the notebook in case you need to put it somewhere on Gith

[2021-11-26 09:27] TomkUCL commented on #1
This paper might be useful later for adding some space-filling alkyl groups on either side:
https://pubs-acs-org.libproxy.ucl.ac.uk/doi/full/10.1021/cn500054n

![image](https://user-images.githubusercontent.com/92033163/143558161-fa04cf96-068a-41e9-899e-7427d92ef5ff.png)

![image](https://user-images.githubusercontent.com/92033163/143557944-55c54956-1ec0-4ff3-bb69-0a780c0106ab.png)

[2021-11-29 12:43] edwintse opened #9 "Compounds for soaking at Oxford"
The following 15 compounds will be sent to Joseph Newman at Oxford for soaking. There are 10 Enamine compounds and an additional 5 compounds synthesised by @jemimahaque, @TomkUCL and @edwintse. Two extra compounds are currently in progress by @jemimahaque and @TomkUCL so they may or may not go into this shipment.

![Untitled Wiley-9](https://user-images.githubusercontent.com/18062981/143869899-7ec

[2021-11-29 22:30] mattodd commented on #8
OK @TomkUCL @edwintse so based on the idea we were discussing in lab:

![New Tom Ed Idea](https://user-images.githubusercontent.com/4386101/143952965-d897f405-60f9-4c1f-bd0c-bafc3409d00f.jpeg)

Steps are:

1) Are the resulting blocks (rightmost compound) not commercially available? Search via a simplest-search using a fragment structure like that shown. If simply available, kill it.

2) Is there a

[2021-11-30 12:10] TomkUCL commented on #8
For step 1, do you mean the amide or the free aniline (without the blue carbonyl)?

[2021-11-30 12:18] mattodd commented on #8
Start with carbonyl, see what get.
Come to think of it, we could reverse the order of chemical steps here.
Acylate then SNAr?

On Tue, 30 Nov 2021, 12:11 Tom Knight, ***@***.***> wrote:

[2021-11-30 12:21] TomkUCL commented on #8
That would probably help to prevent an self reaction/ polymerisation of the aniline (if it occurs).

[2021-11-30 12:44] TomkUCL commented on #8
5-amino-2-​pyrimidinecarboxylic acid is available from fluorochem for  £198 / 1g, so we can rule that one out ![image](https://user-images.githubusercontent.com/92033163/144049286-2e018329-d73b-4acb-a053-3383797a941b.png)

[2021-11-30 12:51] mattodd commented on #8
No - still two N's attached to the ring. For my bottom right structure I mean you could acylate the ring N first (e.g. with R'OCl), then substitute the halogen.

[2021-11-30 16:23] mattodd commented on #8
Another relevant and interesting paper - @edwintse @TomkUCL @jemimahaque please check it out and see whether there is anything we can learn from or use.

https://pubs.acs.org/doi/10.1021/acsmedchemlett.1c00340

[2021-11-30 16:36] TomkUCL commented on #8
Right, I understand what you mean.

[2021-11-30 16:38] TomkUCL commented on #8
Here's the link to the MW-assisted SNAr reaction paper previously discussed.
https://pubs.acs.org/doi/abs/10.1021/jo8008758

[2021-11-30 16:49] TomkUCL commented on #8
So pyrimidin-2-amine derivatives look pretty limited, particularly those with aliphatic chains on either side of the of ring:

![image](https://user-images.githubusercontent.com/92033163/144089910-abab60af-22ec-45f7-ad49-dfccf585c3ec.png)
![image](https://user-images.githubusercontent.com/92033163/144089959-9c4357cc-a2cc-44ce-8e1d-ccd4d0f5efd3.png)
![image](https://user-images.githubusercontent.co

[2021-12-01 13:31] TomkUCL commented on #8
The 2,5-pyrazine building block looks quite limited in terms of commercial availability, which could be a good sign;
![image](https://user-images.githubusercontent.com/92033163/144242339-918c1846-7a44-407e-abff-bb510a5c1883.png)

Similarly, Enamine only make 4 substructures of the building block, which are quite specific.
![image](https://user-images.githubusercontent.com/92033163/144243085-74b307

[2021-12-01 13:49] TomkUCL commented on #8
3-​pyridazinyl building blocks aren't especially prevalent either, but enamine have about 18 similar building blocks for this heterocycle
![image](https://user-images.githubusercontent.com/92033163/144245267-9266841b-3129-4f07-ad96-060b7f8e6219.png)
![image](https://user-images.githubusercontent.com/92033163/144246035-a35de3cc-98d9-48b9-a2dd-df0f55672240.png)

[2021-12-02 15:09] mattodd commented on #9
@edwintse @TomkUCL we need to solve the compound numbering thing for project (not for internal lab books) - I'm looking into it, in terms of what SGC already does.

Potentially we can use
SGCOCN_XXXXX_YY_ZZ
Where X is the compound ID (used colloquially to refer to the molecule), YY is salt form and ZZ is batch.

We'd then need to open up the relevant compound registration system. Working on that.

[2021-12-02 15:23] mattodd opened #10 "Some additions to the wiki"
Hi @edwintse @TomkUCL @lindapatio

We need more about the project on the wiki - describing the story so far.

https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/wiki

The idea is that someone reading the wiki is brought quickly up to speed in a few minutes. The detail is kept on the issues (which the wiki links to, a lot) and the real detail is in the lab notebooks.

Here's on

[2021-12-02 16:28] edwintse commented on #9
Compounds have been shipped off today

[2021-12-02 22:26] lindapatio opened #11 "Docking Enamine Compounds"
Hi everyone!

I'm currently trying to come up with new compounds for my master's project with prof @mattodd. I've done some docking experiments for the following four enamine compounds posted on issue 10 by @edwintse and you can check out the screenshot posted below.

Can anyone confirm if the mean minimised affinity values obtained are sensible or makes sense? This would really help me understand

[2021-12-03 16:49] TomkUCL commented on #8
Maybe useful after todays discussion for reaching different functionalised heterocycles :
 Use of sustainable organic transformations in the construction of heterocyclic scaffolds
https://doi.org/10.1016/B978-0-12-817592-7.00009-5

[2021-12-03 16:59] TomkUCL commented on #8
Update from today's nsp13 meeting:

Molecules in green have been synthesised and shipped to Oxford for soaking. Orange are currently in progress, red is still being route scouted.
![image](https://user-images.githubusercontent.com/92033163/144641211-d619b28c-185a-4054-8d65-f66c47fe8dc0.png)

Lithiation attempt with nBuLi gives N-alkylated product and starting material (LabArchive link: https://uk-

[2021-12-03 17:15] TomkUCL commented on #2
@H-agha are you able to upload your slides from todays nsp13 meeting please? We will begin looking at other linkers for molecule 1C as discussed in our meeting. Thanks.
![image](https://user-images.githubusercontent.com/92033163/144644671-dd330165-8d64-4449-9a89-92157503b416.png)

[2021-12-03 17:19] TomkUCL commented on #4
Nsp13 weekly update 03/12/2021
[nsp13 weekly update 03.12.2021.pptx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7651288/nsp13.weekly.update.03.12.2021.pptx)

[2021-12-03 17:22] TomkUCL commented on #4
Update from today's nsp13 meeting:

Molecules in green have been synthesised and shipped to Oxford for soaking. Orange are currently in progress, red is still being route scouted.
![image](https://user-images.githubusercontent.com/92033163/144641211-d619b28c-185a-4054-8d65-f66c47fe8dc0.png)

Lithiation attempt with nBuLi gives N-alkylated product and starting material (LabArchive link: https://uk-

[2021-12-05 09:32] lindapatio commented on #11
Hi Prof @mattodd! Here are the mean minimised affinity for all the enamine compounds. Most compounds range 4-5. Best two compounds are 59479544 and 138540345

<img width="694" alt="Screenshot 2021-12-05 at 09 25 17" src="https://user-images.githubusercontent.com/92246733/144741008-c785ffd1-208a-4703-b6bc-f5f1d719d130.png">

<img width="685" alt="Screenshot 2021-12-05 at 09 25 34" src="https://user

[2021-12-06 09:49] TomkUCL commented on #1
Whilst the first round of compound soaking is taking place, we are still in pursuit of the following compound:
![image](https://user-images.githubusercontent.com/92033163/144824682-294c1b1a-3cad-4a44-8dbc-5646d1dad6fa.png)

N-protection on the pyrrole is likely to be needed before subsequent C-alkylation at the Beta-position due to the delocalised structure of the pyrrole-Grignard.

<bold>The Stru

[2021-12-06 11:58] #7 closed

[2021-12-06 22:26] mattodd commented on #11
Well, these are comparable to the numbers you were getting for the UCL synthesised compounds. I think @kipUNC was getting values for the Enamine compounds that were signifcantly better. It would be useful if you could compare results for one or two compounds to see if the poses/docking match? Or even the rank order of the minimised affinities?

[2021-12-07 16:34] mattodd commented on #10
Nice addition @TomkUCL (https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/wiki/Synthetic-Chemistry-Overview) maybe include the link to real structures (e.g. #9) or (more work!) add in a summary of the structures of the fragments and what was made in the initial round.

[2021-12-07 18:34] TomkUCL commented on #8
Some points that might be worth discussing further -

"Suzuki coupling with alkyl groups generally requires very specific reaction conditions, different functional handles can have limited substrate scope. In our experience, there are still a lot of hurdles for alkyl Suzuki coupling to be used routinely by medicinal chemists, let alone in a library format, as detailed in our recent publication. (1

[2021-12-08 10:59] TomkUCL commented on #8
Here's my take on this paper as we have previously discussed: Novel Reagent Space: Identifying Unorderable but Readily
Synthesizable Building Blocks https://pubs.acs.org/action/showCitFormats?doi=10.1021/acsmedchemlett.1c00340&ref=pdf

 Aim: To identify large numbers of drug discovery building blocks neither commercially available nor present in
an internal inventory but that could be prepared wit

[2021-12-08 16:10] H-agha commented on #2
Here is the slides of the suggested cyclic structures for site 3 based on the alignment of the five fragments.
[Cyclic structure site 3-NSP13.pptx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7677362/Cyclic.structure.site.3-NSP13.pptx)

[2021-12-09 12:35] lindapatio commented on #11
Hi Prof @mattodd, I managed to compare the interactions of different docking results. I picked two poses (least and best minimised affinity scores) for compound 44 and 45.  I think the interactions explain why some poses are binding more tightly than others, but you can check my analysis below to confirm. I've also contacted @kipUNC to see if he can help me with this, just waiting for his reply:D

[2021-12-09 16:21] TomkUCL commented on #8
Whilst searching for alternative routes that avoid the Grignard/alkyl lithiation need to reach the current target molecule, I came across a commercially unavailable building block with have duel functionality and could potentially be made in one simple step (suzuki):

![image](https://user-images.githubusercontent.com/92033163/145434204-5ac1a278-31b6-4305-90e6-fa7f05cbb66b.png)

![image](https://u

[2021-12-09 16:31] mattodd commented on #8
@TomkUCL huh, that's interesting. V simple. What about the alkyne analog of that? Could imagine sequential amide couplings and clicks.

[2021-12-09 16:37] TomkUCL commented on #8
Enamine make the N-CH3 ester analogue, but no results on the free-N acid analogue
![image](https://user-images.githubusercontent.com/92033163/145437680-097c9a6a-d08c-4056-a8b5-dd37297bd76a.png)

[2021-12-09 16:44] mattodd commented on #8
Oooh. Consider the NH version, and maybe as the ester. Could we do direct amidation in the ball mill then a click? If yes, then that block is looking pretty sweet and we should include it in a few trial structures for @kipUNC @lindapatio @H-agha to play with.

[2021-12-09 16:52] TomkUCL commented on #8
Jamie coauthored on the ball milling paper, so I'll ask him what he thinks the chances of that amidation reaction are of working, since I don't think they tried with pyrroles...

[2021-12-09 22:05] jemimahaque commented on #8
The nitrile moiety in some of those building blocks may be useful to make various 5-membered heterocycles:
![image](https://user-images.githubusercontent.com/92172625/145474218-b3454ccb-834b-41e2-9fb3-757c9110e376.png)

Also, further functionalization of the nitrile to amine (with protection of the OH) could allow access to urea derivative structures using isocyanates:
![image](https://user-images

[2021-12-10 07:30] TomkUCL commented on #8
@jemimahaque nice work, thanks Jemima! We can try plugging those structures into ASCOS retrosynthesis programme and see what routes it suggests, then discuss from there.

[2021-12-12 13:13] mattodd commented on #8
Also when considering building blocks that are decorated with things (i.e. pendant things that can be displayed for binding interactions, but which we're not necessarily using to attach anything else) this [review of FG's](https://pubs.acs.org/doi/10.1021/acs.jmedchem.0c00754) could be looked at.

[2021-12-12 23:00] lindapatio commented on #11
Hi @jemimahaque!
I've been docking the five UCL compounds: TK 1-1, JH-A2, JH A1, TK 2-1 and EGT 563 and analysing their affinities. Your compound (JH-A2) had the highest affinity
Mean = -4.87
Range = -3.85 to -5.66

After this, I tried to optimise your fragment to see if I can improve the binding affinity. I accidentally put a carbonyl instead of an amide when i was trying to dock your compound bu

[2021-12-13 10:41] jemimahaque commented on #11
Hi Linda - that looks great, thank you! Those compounds can easily be synthesised I think. In the ketones, is it important that the CF3 group is para to the other substituent?  Also, in JH-A2.3-2 - what if the amide substituent is attached to C-2 of the thiophene, or the carbonyl on the amide is directly attached to the thiophene? I think it would also be useful to see the results with a pyrrole i

[2021-12-13 12:29] TomkUCL commented on #1
Based on Heba's most recent docking (see thread), the following 4-step synthesis should be manageable from available starting materials:
1. Pyrazole alkynylation
2. Direct amide coupling
3. SN2 azidation
4. "Click"

![image](https://user-images.githubusercontent.com/92033163/145811136-7504afa0-83f6-4d34-b87a-f9e5c395d5a5.png)

We are currently thinking standard amidation conditions using coupling

[2021-12-13 14:02] jemimahaque commented on #1
Another potential linker?:

![image](https://user-images.githubusercontent.com/92172625/145825685-99c436fd-1e20-4dfa-8231-f2eb85472e66.png)

Reference: https://doi.org/10.1016/j.tetlet.2018.03.013

[2021-12-13 14:30] mattodd commented on #1
Synthetic accessibility is definitely an important thing, but let's get, say, 5 potential structures together and send over the SMILES to @H-agha and @kipUNC and @lindapatio so that they can see if the structures minimise to something that looks like it might bind properly. Then we can work with that and refine our structures.

[2021-12-13 15:25] TomkUCL commented on #1
@mattodd Do these look reasonable?

![image](https://user-images.githubusercontent.com/92033163/145839212-d3c70e6f-6aef-45f5-a3e9-4283e9921dde.png)

[2021-12-13 18:06] lindapatio commented on #11
hi @jemimahaque here's what i found:
- ortho position has a better minimised affinity vs para position for JH-A2.3-2 (see first table)
- attaching the carbonyl directly to thiophene while keeping it attached to C3 of thiophene gave better binding (second table)
- swapping thiophene with pyrrole resulted in weaker binding. (so would we keep thiophene?) amide position also played a role, MA was bett

[2021-12-13 20:50] mattodd commented on #1
Well, I'm wondering instead whether we keep the binding bit simple for now, and we vary linkers in existing structures. Like this

![Cyclic Heba Analog Variants](https://user-images.githubusercontent.com/4386101/145886617-8e9ac83f-8146-42a1-ad71-6b8bdc8c7844.jpeg)

then we model these (and ones based on the other cyclic systems above) to see what the optimal connectivity might be to present the pr

[2021-12-13 21:08] lindapatio commented on #1
qa

[2021-12-13 21:57] TomkUCL commented on #1
@mattodd Ok so that would give 9 unique structures to be docked by @lindapatio as you have drawn them, then @jemimahaque and I can look into routes for making the top 3 scorers?

[2021-12-13 22:21] mattodd commented on #1
Well, 9 just for the scaffold with the triazole, @TomkUCL . But add in the others you drew and you'd have, what, 100? That's more the kind of number we'd want to be docking, and then looking to make the top 3? Something like that?

[2021-12-14 06:39] TomkUCL commented on #8
This may be useful..

Discovery of Novel BRD4 Ligand Scaffolds by Automated Navigation of the Fragment Chemical Space

https://doi.org/10.1021/acs.jmedchem.1c01108

Further discussion to follow..

[2021-12-14 09:53] jemimahaque commented on #1
Here are the SMILES for these:
![image](https://user-images.githubusercontent.com/92172625/145974652-875cab77-e569-4b98-b2c0-6e5fc60c8830.png)

CN1C=C(NC(C2=C3C=CC=C2)=O)C(C4=CNN=C4CC3)=N1

![image](https://user-images.githubusercontent.com/92172625/145974732-841bb0fa-bba3-4758-93da-6dfeb5e6acf4.png)

CN1C=C(NC(C2=C3C=CC=C2)=O)C(C4NCCN4CC3)=N1

![image](https://user-images.githubusercontent.com/92

[2021-12-14 10:00] TomkUCL commented on #1
Ok, i'll get a list of SMILES for these together for docking ASAP by @lindapatio

[2021-12-14 18:23] H-agha commented on #1
Here is the glide score and 2D interactions for the five compounds using Glide SP. scores are still low and the highest score is 3.89
[Tom- cyclic- GLIDE SCORE.docx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7713920/Tom-.cyclic-.GLIDE.SCORE.docx)

[2021-12-14 19:56] H-agha commented on #8
Here is the glide scores, 2d interactions for Set A- cyclic structures with different linkers
[Set A- cyclic with different linkers.docx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7714370/Set.A-.cyclic.with.different.linkers.docx)

[2021-12-14 20:03] TomkUCL commented on #11
@H-agha @mattodd interesting points from @lindapatio about thiophene over pyrrole, and ketone over amide?

[2021-12-14 20:51] TomkUCL commented on #1
Great, thanks Hebba. It's a shame about the low scores, but your comments should provide some useful insights.

[2021-12-14 21:01] H-agha commented on #1
We need to design more, different scaffolds to improve the scores. Set A seems to be better. Here is the glide scores, 2d interactions for Set A- cyclic structures with different linkers.
[Set A- cyclic with different linkers.docx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7714729/Set.A-.cyclic.with.different.linkers.docx)

[2021-12-14 23:53] lindapatio commented on #1
@TomkUCL Here is the minimised affinity scores for A10 - A22. For some reason A00 was not docking, I tried to input the SMILES first but came up as an error. Then I tried to redraw the compound manually but it still came up as an error, apparently the compound is not "readable". But the rest of the compounds had no issues. Compound A10 looks quite good in terms of results. Hope this helps!
[Cyclic

[2021-12-15 07:13] kipUNC commented on #1
Just to make sure, those 3.89 actually -3.89 correct?

[2021-12-15 12:07] jemimahaque commented on #11
thanks Linda, I will look into how we could synthesise some of those compounds.

[2021-12-15 13:48] TomkUCL commented on #11
Nice work @lindapatio . Would it be possible to get 2D interaction maps for those top four scoring compounds?

[2021-12-15 13:58] H-agha commented on #1
Yes, it is -3.89. I corrected it.

[2021-12-15 14:05] TomkUCL commented on #1
For A10, what happens to the mean binding affinity if the amide is swapped for a ketone, as you discussed with @jemimahaque on the thiophene compounds?

[2021-12-15 14:37] lindapatio commented on #11
![P134](https://user-images.githubusercontent.com/92246733/146205758-4943f946-1315-46b8-927f-e428caf5c664.png)
@jemimahaque Thank you! Yes it does according to PyMOL, it makes 2 hydrogen bonds with Arg502's guanidino group. The file below contains all data from this docking experiment:
[Alldata for amide subbing copy.sdf.zip](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/

[2021-12-15 14:38] lindapatio commented on #11
@TomkUCL Thank you! Sure, I'll try to get it done and posted here by the end of the day

[2021-12-15 14:39] TomkUCL commented on #1
Based on your feedback here are some additional scaffolds - i've added the furan at the top to try and also exploit pi-stacking interactions in the upper TRP / PHE pocket..

![image](https://user-images.githubusercontent.com/92033163/146206240-8960edcd-ee44-4a91-815f-c5baa13f76ef.png)

SMILES:
T-3-1:  O=C1C2=CC(C(F)F)=CC=C2CCCN3C=CC=C3CC4=C(C=NN4CC)N1
T-3-2:  O=C1C2=CC(C(F)F)=CC=C2CCCN3C=CC=C3CC4=

[2021-12-15 17:03] H-agha commented on #1
I think it is better to use F rather than CF2 or CF3. Compounds that has CF2 are outside the pocket. Furan seems to be a good idea. It sets inside the pocket and form interaction with Arg503.

Compounds that showed good scores interact with Pro593, Asn503, and Arg502. In addition, if we extend the compound to have interaction with Glu 591, and maybe Trp506 it could be better.

[Set T-3 -CYCLIC .do

[2021-12-15 19:26] lindapatio commented on #11
@TomkUCL Here are the 2D interaction diagrams for the top 4 compounds. I'm not really sure how to show interactions on maestro so i included what I found on PyMOL.
[Interactions for top 4 JH compounds.pdf](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7722094/Interactions.for.top.4.JH.compounds.pdf)

@H-agha Would you be able to confirm the interactions for these co

[2021-12-16 10:52] TomkUCL commented on #1
I am not quite sure what the distances are like in the pocket, but I have this structure based on the highest scoring hit from Set T-3-Cyclic and some of your suggestions.

SMILES: O=C1C2=CC(C3=CC(COC(N)=O)=CO3)=C(CCO)C=C2CCN4C=CC=C4CC5=C(C=NN5C6=CC(O)=CC=C6)N1

![image](https://user-images.githubusercontent.com/92033163/146357777-6d625064-e985-4ebd-a5b2-04fdb4f822ae.png)

[2021-12-16 11:31] TomkUCL commented on #10
Found the following article, is this of any interest to us or is it the wrong protein site?

Identification of myricetin and scutellarein as novel chemical inhibitors of the SARS coronavirus helicase, nsP13
M.-S. Yu et al. / Bioorg. Med. Chem. Lett. 22 (2012) 4049–4054

![image](https://user-images.githubusercontent.com/92033163/146362601-108a39cb-a9d0-4b5d-81ba-598a9153d776.png)

_"...we examined

[2021-12-16 11:31] lindapatio commented on #1
![image](https://user-images.githubusercontent.com/92246733/146363261-5f1ea71e-f744-4fd2-afc3-42a0f15728bd.png)
mean minimised affinity = -5.31 (vs -5.32 for original)
range = -4.5 to -6.33

[2021-12-16 11:44] TomkUCL commented on #10
https://doi.org/10.2174/1570180818666210317162502
In silico Screening of Phytoconstituents with Antiviral Activities Against SARS-COV-2 Main Protease, Nsp12 Polymerase, and Nsp13 Helicase Proteins

Aims:
The present study aimed to analyse the molecular interactions of the phytoconstituents known for their antiviral activity with the SARS-CoV-2 nonstructural proteins such as main protease (6LU7), N

[2021-12-16 11:56] TomkUCL commented on #10
Effectiveness of Natural Antioxidants against SARS-CoV-2?Insights from the In-Silico World
https://doi.org/10.3390/antibiotics10081011

![image](https://user-images.githubusercontent.com/92033163/146366775-82493fc6-cfab-4e18-ae07-290e9b4c8cd5.png)
![image](https://user-images.githubusercontent.com/92033163/146367091-03afe2af-b1bc-4ea3-9359-e658b6547774.png)

**2.5. Helicase (Nsp13) Protein**
Phyto

[2021-12-16 16:03] TomkUCL commented on #10
Some interesting points here from authors at the Francis Crick Institute / UCL ;

### Identifying SARS-CoV-2 antiviral compounds by screening for small molecule inhibitors of nsp13 helicase
### Biochemical Journal (2021) 478 2405–2423
### https://doi.org/10.1042/BCJ20210201

_"In conclusion, we have identified novel small-molecule inhibitors of SARS-CoV-2 nsp13 helicase. We
provide evidence that *

[2021-12-16 17:46] TomkUCL commented on #10
### Synthesis under microwaves irradiation, structure elucidation, docking study for inhibiting COVID-19 and DFT calculations of novel azoles incorporated indole moiety
### https://doi.org/10.1016/j.molstruc.2021.131263

![image](https://user-images.githubusercontent.com/92033163/146421633-5179e292-b051-4404-a05c-3f1afd775dc2.png)
![image](https://user-images.githubusercontent.com/92033163/1464217

[2021-12-16 18:45] TomkUCL commented on #10
### The Adamantane-Derived Bananins Are Potent Inhibitors of the Helicase Activities and Replication of SARS Coronavirus
### Chemistry & Biology, Vol. 12, 303–311, March, 2005
### DOI 10.1016/j.chembiol.2005.01.006

_"ATPase assays revealed that iodobananin and vanillinbananin were the most effective SCV helicase inhibitors, with ATPaseIC50 values of 0.54uM and 0.68 uM, respectively.. Bananin acte

[2021-12-16 20:50] TomkUCL commented on #5
@lindapatio @mattodd
Apologies I meant to add my additions here, but see some of the recent papers added to issue #10

[2021-12-20 20:37] lindapatio commented on #11
Hello @drc007, it's Linda from UCL!

I was wondering if you would be able to help me again please?
I've found a potential ligand that docks to our target protein quite tightly but I need to produce a 2D interaction diagram. When I get my docking results from the jupyter notebook and open the SDF file on pymol it only shows the ligand pose and not with the protein (as shown in the image below for e

[2021-12-20 20:40] drc007 commented on #11
Open the pdb file you used for the docking experiment first then open the sdf containing the docked structures

[2021-12-20 20:57] drc007 commented on #11
@lindapatio Hi, I just wondered if you had been given the link to the online lab manual I created on GitHub?  https://github.com/UCL/Open_Docking_Lab_Handbook/wiki

[2021-12-20 21:09] lindapatio commented on #11
@drc007 thanks for the prompt reply!
I've been following that lab book for my project, but section 10.4 uses a software that is not available on mac. That is why I tried to use maestro.

I only want to show interactions between one pose and the protein but there are more than 30 states in PyMol, would i need to extract the specific pose I want? And how should I save the PDB file so that it contain

[2021-12-20 21:33] drc007 commented on #11
@lindapatio In pymol if you have both protein and you have identified the pose you want to evaluate in view from all the docked structures. Select the ligand, and it should a become a selection object. Then click on the Action (A) menu for that selection object, one of the menu items should be extract object. You can then delete the original sdf file that contained all the poses. Then under the Fi

[2021-12-20 21:53] lindapatio commented on #11
Okay I'll try to follow this and see if Maestro will show the interactions. I've also heard of Ligplot but have never used it before so I'll give it a go as well!
Thank you very much for your help @drc007

[2022-01-10 09:53] TomkUCL commented on #5
Hi @lindapatio, just curious, did you try docking any of the non-competitive inhibitors mentioned in this thread? It would be interesting to know if any of these score well! :)

[2022-01-21 13:59] mattodd opened #12 "Heba Cyclic Structure Scoring?"
Hi @TomkUCL @edwintse @jemimahaque - do we have some synthetically accessible versions of the cyclic compound @H-agha had been pursuing (https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/issues/2#issuecomment-988953912)? We should minimise and dock and see if any of them should be pursued.
We'll discuss this next Friday, so docking before then (i.e. sending to Konstantin ASAP

[2022-01-21 14:05] jemimahaque commented on #1
Hi @H-agha, here are a few other suggestions for the cyclic peptides that I think may be synthetically accessible?

[2022-01-24 12:48] mattodd opened #13 "UCL-UNC CNP4 Meetings Jan 2022 Notes"
1) First list of suggested compounds from @kipUNC :

- [ ]  @TomkUCL will post. Not possible to triage the molecules further since they all met the design criteria. We could of course alter the deign criteria, iteratively.

2) To triage by similarity, you have to decide what you mean by similarity. Tanimoto? It's something we definitely want to do in order to identify any key structural motifs tha

[2022-01-24 13:38] edwintse opened #14 "Oxford Soaking Results Jan 2022"
Following from issue #9, the results from the soaking experiments are summarised below:

![Oxford Soaking 2022](https://user-images.githubusercontent.com/18062981/150792596-03135132-ad29-485e-9d11-681d0dbea11b.jpeg)

- Some crystals didn't diffract (missed = the pin failed to align in the X-ray beam; took too long). Joe may try these again with some better crystals.
- Some compounds were insoluble

[2022-01-24 13:55] mattodd commented on #14
Great, thanks @edwintse FYI @tmw20653

[2022-01-24 14:22] TomkUCL commented on #3
Not sure if useful, but this may be for comparing commercial libraries to compare fragment diversity amongst them?

Comprehensive analysis of commercial fragment libraries
RSC Med. Chem., 2022, Advance Article
https://pubs.rsc.org/en/content/articlelanding/2022/md/d1md00363a/unauth

[2022-01-25 14:11] TomkUCL opened #15 "Generative Modelling Hit Libraries"

[2022-01-25 14:31] TomkUCL commented on #15
The initial five generative libraries are as follows:

Library A: Pre-trained on ChEMBL. Hits from a filtered, unbiased model using a pharmacophore scoring function. ~15k structures)
[Library_A_hits.csv](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7934312/Library_A_hits.csv)

Library B: Virtual screening hits from Enamine library (20M molecules) ,~15k structures.

[2022-01-25 17:56] TomkUCL commented on #15
Library A-E were combined into one Excel sheet, and an 'analyse similarity' search was run on datawarrior for all of the small molecules together. See zip file below in DW. Discussion of the clusters will be posted within this thread.
[Library_A-E_hits.zip](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7935992/Library_A-E_hits.zip)

[2022-01-27 10:17] jemimahaque commented on #12
Here are a couple of SMILES:

CN1C=C(NC(C2=C3C=CC=C2)=O)C(C4=CNN=C4CC3)=N1

CN1C=C(NC(C2=C3C=CC=C2)=O)C(CC4=CNN=C4C3)=N1

CN1C=C(NC(C2=C3C=CC=C2)=O)C(C4NCCN4CC3)=N1

CN1C=C(NC(C2=C3C=CC=C2)=O)C(CC4=CC3=NN4)=N1

CN1C=C(NC(C2=C3C=CC=C2)=O)C(CC4=C(CC)C(CC)=C3N4)=N1

CN1C=C(NC(C2=C3C=CC=C2)=O)C(CC4=NC3=NO4)=N1

CN1C=C(NC(C2=C3C=CC=C2)=O)C(CC4=NN=C3O4)=N1

O=C1NC2=NN(CC3=CC=CC(O)=C3)C=C2CC4=CC=CN4CCC5=

[2022-01-27 14:00] H-agha commented on #12
Hi @TomkUCL @jemimahaque. Here are the glide scores for two compounds Tom proposed earlier and 18 compounds were proposed by Jemima.
[Jemima compounds 1-18 + Tom T3-7 &8.pptx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7950993/Jemima.compounds.1-18.%2B.Tom.T3-7.8.pptx)

[2022-01-27 14:09] jemimahaque commented on #12
Thank you Heba @H-agha, it seems like the compound J4/J11 has the best glide score - I will come up with a couple of structures now to optimise it further.

Optimised SMILES:

O=C(C1=C2C=CC(C3=CC=CO3)=C1)NC(C(CC4=CC2=NN4)=N5)=CN5CC6=CC=CC(O)=C6

[2022-01-27 14:17] H-agha commented on #12
Keep working in your optimization. J19 score is -5.214

[2022-01-27 14:28] mattodd commented on #12
Yes, keep going! What are we, kind of, aiming for as a score?

[2022-01-27 14:59] H-agha commented on #12
Most of the previous compounds even the non cyclic ones were in the range of -3 to -4. In this series, this is the first time to get a score of -5. I think we can try to aim as high score as we can such as -10.

[2022-01-27 15:08] mattodd commented on #15
Nice @TomkUCL!
So does that spit out the ones that are common to all 5 libraries?
And in the Datawarrior screenshot above, do the blobs of colour indicate a bunch of molecules that are similar? i.e. we could aim to make representatives from each blob?
With so many molecules to choose from, it's hard to know which to choose @kipUNC
Given a large selection of predictions, how to make a representativ

[2022-01-27 15:20] TomkUCL commented on #15
Initially it seemed to highlight only those SMILES that are in all five libraries in red so that they are easy to spot. However, when I tried to manually check these by searching for the SMILES string in the Excel Search Bar, it was showing only two or three instances where that SMILES was repeated in the sheet in some cases. I suspect (based on how slowly scrolling through the Excel sheet is) tha

[2022-01-27 15:44] mattodd commented on #14
Spoke to Joe Newman, who was extraordinarily helpful.
1) We need an alternative biophysical assay like SPR/NMR/MST/TS. Obviously.
2) Include original frags as controls, but might not work well
3) Naturally we don't know if binders will affect the enzymatic activity, via either ATPase assay or helicase assay.
4) Solubility always an issue at these concentrations. DMSO stock into buffer. We should a

[2022-01-27 15:56] drc007 commented on #15
@TomkUCL I've written a script for Vortex in python that does exactly this (https://www.macinchem.org/reviews/vortex/tut28/scripting_vortex28.php) I've run it on 10 million structures and it takes a few mins. Unfortunately I don't think DataWarrior has a scripting interface. If you can share the files I can do this for you.

[2022-01-27 16:31] H-agha commented on #12
@jemimahaque. Here are the score for compounds J19-J22.
[Jemima 19-23- pymol .pse.zip](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7952142/Jemima.19-23-.pymol.pse.zip)

Here is the pymol session to check the space around the compounds
[optimized J series.pptx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7952131/optimized.J.series.

[2022-01-27 18:49] jemimahaque commented on #12
Thank you!

[2022-01-27 19:44] TomkUCL commented on #15
That's super helpful - thanks :) I've attached the Excel files for the five libraries here.

A-->E Separate:
[Library_A_hits.csv](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7953338/Library_A_hits.csv)
[Library_B_hits.csv](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7953341/Library_B_hits.csv)
[Library_C_hits.csv](https://github.c

[2022-01-28 08:49] drc007 commented on #15
@TomkUCL  It looks like the file Library_A_hits is identical to Library_D_hits

[2022-01-28 08:54] drc007 commented on #15
@TomkUCL I think Library_A_hits.csv is actually a copy of the Library_D_hits file contents.  I can probably extract the correct data for Library_A_hits from the A->E combined file. To avoid any any future errors it might be better to repost Library_A_hits.csv and edit the comment above.

[2022-01-28 09:41] mattodd commented on #15
Hi @kipUNC - were two of the files accidentally duplicates? (see above).

[2022-01-28 10:05] drc007 commented on #15
@mattodd @TomkUCL @kipUNC Since the correct data is in the A->E combined file I suspect a file has been mislabelled at some point.

[2022-01-28 10:13] drc007 commented on #15
I've exported the Library_A_hits data from the A->E combined file and done a comparison of all libraries as shown below.
![CommonStructures](https://user-images.githubusercontent.com/7080516/151528316-9d778236-4741-4b57-9afe-d64f54d221e6.png)
The numbers with the red background are the number of compounds in each library so Library_B_hits contains 14095 unique structures. The numbers with the gree

[2022-01-28 10:14] TomkUCL commented on #15
@drc007 Libraries A and D are opening as different files to us. These are the same files that I received from @kipUNC. The SMILES strings are different on our end.

[2022-01-28 10:18] TomkUCL commented on #15
That's excellent, thanks. To confirm @drc007, this is telling us that there are no SMILES strings that are common to all five generative libraries? Is there a way to list the common SMILES as 2D structures?

[2022-01-28 10:18] drc007 commented on #15
These are the fist few lines from the file download from the link above, as you can see Library_A_hits.csv clearly has data from Library.
![Screenshot 2022-01-28 at 10 16 07](https://user-images.githubusercontent.com/7080516/151529480-42e1fb58-b424-454c-8ce8-197168957604.png)

[2022-01-28 10:20] drc007 commented on #15
I have a videoconf now, but will annotate the combined file to flag duplicates later.

[2022-01-28 10:22] TomkUCL commented on #15
Hmm that's strange... the Excel files are different when Jemima and I have opened them on separate desktops, so not sure what the problem is here..
![image](https://user-images.githubusercontent.com/92033163/151529981-d43bf785-15ba-4225-b85b-10ec23736864.png)

[2022-01-28 10:23] drc007 commented on #15
Also library_B_hits.csv only has the SMILES no identifier
![Screenshot 2022-01-28 at 10 22 13](https://user-images.githubusercontent.com/7080516/151530311-f82e90f0-13ca-4237-be54-d9cf75e58cc8.png)
.

[2022-01-28 10:23] drc007 commented on #15
Can you check the actual files on GitHub?

[2022-01-28 10:25] TomkUCL commented on #15
The above screenshot is from opening from the GH link - @edwintse can you try opening from the GH links above and tell us what you get? Thanks

[2022-01-28 10:26] jemimahaque commented on #12
Here is the reference for the pyrazole linker in these structures

DOI: 10.1002/chem.200701769

[2022-01-28 10:30] drc007 commented on #15
Might be better to download from links above and then compare

[2022-01-28 11:46] drc007 commented on #15
@TomkUCL When I open the combinedA->E file in Excel the identifiers for LibraryB are missing, as seen below
![Screenshot 2022-01-28 at 11 43 51](https://user-images.githubusercontent.com/7080516/151541566-1f564130-895f-42ac-a5d0-ff9a99ba19bc.png)

Do you have a version that includes them?

[2022-01-28 11:51] TomkUCL commented on #15
@kipUNC do you have a copy of Library B with identifiers in column B? (see above).

[2022-01-28 12:21] drc007 commented on #15
The attached file contains all structures, identifier (where available) and the InChiKey. It also contains a field containing a duplicate flag. If you open this file in DataWarrior, Vortex or similar and then sort on the InChiKey field you can then browse don and see duplicates flagged. You can also filter by duplicate to just see the molecules that appear in multiple libraries.
[export.sdf.zip](h

[2022-01-28 14:10] TomkUCL commented on #15
@drc007 Thanks. Does the duplicate flag indicate those molecules that appear in all five libraries (A through E), or just that they appear in another library other than A?
![image](https://user-images.githubusercontent.com/92033163/151561052-3587d230-ea40-4f2d-a609-65208a12865f.png)

[2022-01-28 14:44] jemimahaque commented on #12
Hi @H-agha, would you be able to upload the slides from today's meeting please?

[2022-01-28 15:00] H-agha commented on #12
[Uploading cyclic structure new scaffold.pptx…]()

[2022-01-28 15:04] TomkUCL commented on #13
@mattodd Here are the updated slides on progress so far from last week's update meeting. Current work is focused on developing a short sequence / high yield and generalized method for making 2,5-dialkyl pyrrole amides. This would hopefully allow us to generate a small library of novel small molecules that resemble the 3rd fragment derived from Heba's initial pharmacophore (See slides).

The oxalyl

[2022-01-28 15:06] drc007 commented on #15
Here is the file containing all the data (with Library B names).
[AllLibrariesExport.sdf.zip](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7959654/AllLibrariesExport.sdf.zip)

[2022-01-28 19:23] TomkUCL commented on #12
Thanks Heba, really nice.

[2022-01-30 21:38] drc007 commented on #15
@TomkUCL Here an updated file, I've added annotation flagging PAINS and other functional groups that might be a concern. I've also added columns with PubChem and ChEMBL ID and some vendor information.
[AllLibrariesAnnotated.sdf.zip](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/7966973/AllLibrariesAnnotated.sdf.zip)

[2022-01-31 13:57] mattodd commented on #13
- [ ] @mattodd to reach out to Masoud to check whether a parallel biophysical assay is being developed for binding (e.g. SPR) though one would expect to need micromolar binding to see anything
- [ ] What are the fragments that are most similar to the original hits that can be bought? We could buy and try. Someone want to pick each hit and see what we can buy, where the Tanimoto is >90% and the mol

[2022-01-31 14:01] mattodd commented on #13
@TomkUCL Good job posting the presentation. Slide 17. Functionalise one side (R group) then functionalise the other side with alpha-halo ester/acid. Then direct amidation in the ball mill. Actually slide 18. Got to be a winner?

[2022-01-31 14:25] TomkUCL commented on #15
@drc007 Is it possible to add the file here in which the adjacent Duplicates are colour-coded? I am able to see which ones are duplicates, but it would be nice to colour code by those that appear in 3 libraries and 2 libraries as I have started to do in Excel below. I can do this manually but I was hoping you might know a quicker way of doing this?

DW:
![image](https://user-images.githubuserconte

[2022-01-31 14:49] TomkUCL commented on #13
@mattodd It's missing that extra CH2 we wanted between the pyrrole and carbonyl. I believe I've made the alkyl pyrrole ester (minus CH2), just waiting on MS and to rerun 13C NMR - https://uk-mynotebook.labarchives.com/share/Thomas%2520Knight/MjQuN3wxMDQ0MS8xOS9UcmVlTm9kZS8xOTUxMDg0Mjk1fDYyLjY5OTk5OTk5OTk5OTk5Ng==

Also managed to get the oxoacid in decent yield, again awaiting HRMS on this. https:

[2022-01-31 15:00] drc007 commented on #15
@TomkUCL I'll have a look

[2022-01-31 15:15] drc007 commented on #15
@TomkUCL Colour coding obviously does not transfer between applications so I've added an additional column called "Multiple". In this I've tagged molecules that appear 3 times with the number 3, molecules which appear twice with the number 2.  You should be able to add conditional formatting based on the number.
[AllLibrariesAnnotated2.sdf.zip](https://github.com/StructuralGenomicsConsortium/CNP4-

[2022-01-31 17:38] TomkUCL commented on #15
@drc007 That's brilliant - thanks 👍

[2022-02-02 15:02] TomkUCL commented on #15
It looks like there are a few compounds in the latest list that don't have an associated ZINC code that are also present in 3 libraries. I will search those compounds by SMILES in ZINC Database and by 2D structure in SciFinder for commercial sources to determine whether these compounds are commercially available.
![image](https://user-images.githubusercontent.com/92033163/152179025-3a612229-0683-4

[2022-02-02 16:19] drc007 commented on #15
@TomkUCL That is correct 141 entries but 47 unique molecules.

[2022-02-03 14:06] TomkUCL commented on #15
Here are the 10 compounds identified from @kipUNC generative libraries with no associated ZINC code. From a quick SciFinder search, it looks like 4 molecules are not available (N/A) commercially, but it will be worth a double-check. Of these 4 compounds, two have reported routes and two do not (again further checking to be sure on this to follow). @H-agha Are you happy to dock these and get a Glid

[2022-02-03 14:17] TomkUCL commented on #15
@drc007 thanks, I've just sent off a custom request to Enamine.

[2022-02-03 16:18] H-agha commented on #15
Hi @TomkUCL I am happy to dock them. For easier handling, I'd like to name these compounds to avoid further confusions as follow.
<img width="577" alt="image" src="https://user-images.githubusercontent.com/92379298/152382991-39423c5f-86b8-4293-b7c5-6f4d3137a09f.png">

[2022-02-03 16:54] drc007 commented on #15
@TomkUCL @H-agha All the compounds have unique ID from the generative model. It might be better to use that to avoid any problems tracing back the source of a compound.

I suspect the problem is GitHub markdown. It would be better use a plain text file (SMILES or SDF) to exchange structural information.

[2022-02-03 17:54] H-agha commented on #15
@TomkUCL @drc007
Until we get the proper naming of these compounds, here are the scores and the PyMOL session of the 10 compounds identifies by @kipUNC compared to the scores of the original fragments.

<img width="228" alt="image" src="https://user-images.githubusercontent.com/92379298/152400171-1a5a2b22-6d93-489d-948a-55a5729951c9.png">
[K series poses.pse.zip](https://github.com/StructuralGenom

[2022-02-04 09:09] TomkUCL commented on #15
Thanks @H-agha . I have a couple of questions about this...

What are we considering as a 'good' glide score for these molecules, considering that these are fragments rather than drug-like molecules?

Do the interaction maps indicate any key residue binding motifs in this K set that we have not considered before?

[2022-02-04 14:31] TomkUCL commented on #15
This is from 2019, so not sure if this is still a relevant/similar approach for generative modeling from the pharmacophore, but maybe another method for new molecule generation? At least another perspective maybe...
Drug Analogs from Fragment-Based Long Short-Term Memory
Generative Neural Networks
http://pubs.acs.org/action/showCitFormats?doi=10.1021/acs.jcim.8b00902

[2022-02-05 19:48] TomkUCL commented on #1
Update slides from 04/02/2022.

[Update.19.01.2022 (2).pptx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8008790/Update.19.01.2022.2.pptx)

Slide 1: Target molecule - asymmetric pyrrole.
Slides 3-5: Trial reactions for the following chemistry.
Slides 6-10: Forward chemistry to be tried.

[2022-02-07 14:51] mattodd opened #16 "Other Nsp13 biophysical assays somewhere on Planet Earth?"
Hi all (@edwintse @TomkUCL) we need another **Nsp13 biophysical assay** for the compounds we're making. We know of fragment soaking at Diamond, though currently the throughput is quite low. We know of the helicase assay at the Crick and the ATPase assay at Toronto, but these are enzymatic inhibition assays, and I'd expect most of the fragment-like compounds we're making/procuring at the moment wil

[2022-02-07 16:41] TomkUCL commented on #16
Sure, I will have a dig around and see what can be found.

An initial quick looks suggests NMR, surface plasmon resonance, X-ray crystallography, thermal shift, or affinity capture, but I will expand further when I find something:
Keserű GM, Erlanson DA, Ferenczy GG, et al., Design principles for fragment libraries: maximizing the value of learnings from
pharma fragment-based drug discovery (FBDD)

[2022-02-07 16:47] mattodd commented on #16
Sure @TomkUCL I think we seek SPR, NMR or microscale thermophoresis (MST). Given the timescale we're really looking for something that is _already running_.

[2022-02-08 08:29] TomkUCL commented on #16
@mattodd Not sure if applicable to fragment ligands? It seems that an SPR assay was developed to test whether direct binding of Nsp12 regulated the unwinding activity of Nsp13.
Delicate structural coordination of the Severe Acute Respiratory Syndrome coronavirus Nsp13 upon ATP hydrolysis
6538–6550 Nucleic Acids Research, 2019, Vol. 47, No. 12
doi: 10.1093/nar/gkz409
![image](https://user-images.gi

[2022-02-08 11:02] mattodd commented on #16
Nice find. [Zihe Rao's lab](https://www.med.tsinghua.edu.cn/en/info/1352/1868.htm), which does a lot of v nice work on structures of viral components. Possible, though I suspect arranging this in China and shipping there might be harder than other potential solutions. Let's keep on the table though.

[2022-02-09 14:50] mattodd opened #17 "Triage of the Generative Suggestions"
Relevant to other issues (e.g. #15) but a specific question related to the large numbers of molecules arising from the @kipUNC generative methods. **How do we triage suggestions?**

1) Kostya mentioned that filters can be trivially applied. It seems to me that we want to be able to move beyond fragments, and still have decent solubility for soaking experiments if needed. So shall we apply a filter

[2022-02-09 15:48] TomkUCL commented on #16
Should we need to develop an assay, Grating-Coupled Interferometry (GCI) seems to be another kinetic method for fragment screening. Creoptix (https://www.creoptix.com/applications/small-molecules) have developed a robust assay for high-throughput kinetic screens with the Creoptix WAVEsystem:
https://doi.org/10.1177%2F24725552211013827

Domainex (a UK based UCL/CRUK drug discovery spin-out company)

[2022-02-11 14:07] TomkUCL commented on #15
@mattodd @kipUNC Just to double-check the next steps from today's update meeting (11th Feb 2022). Just need to clarify a couple of things.

We want to filter the above libraries A, C, E (excluding B and D) in Data Warrior compounds based on:

A) Molecular weight i.e. those which are 2-3 heavy atoms (C or N) / 40-60 Da heavier than the pharmacophore fragments
(can you clarify which fragments these

[2022-02-11 14:09] kipUNC commented on #15
Correct. Lets see how many are satisfying those criteria and how diverse those molecules are.

[2022-02-11 14:13] drc007 commented on #17
@mattodd @kipUNC How many is a "large number of molecules"?

I can search for commercial availability if less than 100K molecules.

[2022-02-15 12:44] TomkUCL commented on #17
The average molecular weight of the initial fragments from issue #2 is 209, so I have set the fragments that we are looking for from libraries A, C, and E between MW = 229 to 269, and logP less than 3. Data warrior allows these filters to be put in as sliding scales which can also be changed as required.

![image](https://user-images.githubusercontent.com/92033163/154060377-95b0712b-fb2c-44f1-9ecd

[2022-02-18 16:22] TomkUCL commented on #17
@drc007 Do you have any recommendations regarding how best to search these lists for commercial availability? I see that datawarrior has built-in Search Enamine Building Blocks, but i'm not sure whether this is suitable for this many compounds. Thanks!

[2022-02-21 08:21] TomkUCL commented on #17
Thanks Chris, here are the SMILES lists:

[Libraries A C E triaged hits SMILES.xlsx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8107497/Libraries.A.C.E.triaged.hits.SMILES.xlsx)

[2022-02-21 09:55] drc007 commented on #17
@TomkUCL Annotated with vendor info.
[LibraryEvendors.csv](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8108195/LibraryEvendors.csv)
[LibraryCvendors.csv](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8108196/LibraryCvendors.csv)
[LibraryAvendors.csv](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/81081

[2022-02-21 10:44] TomkUCL commented on #1
**Update 21/02/2022:**

In addition to the shorter (but riskier) route above, I have started preparing the following backup route for the third fragment (asymmetric pyrrole). Once the acid is made, amide coupling should be trivial.

![image](https://user-images.githubusercontent.com/92033163/154937067-49c8037d-07bd-4c38-a7c7-e3b39c7b2a69.png)

**Advice/ discussion on the following would be appreci

[2022-02-24 11:27] drc007 commented on #17
@TomkUCL Row 1 is all the suppliers that claim to have a least 1 of the compounds in stock.

[2022-02-24 12:55] TomkUCL commented on #17
@drc007 Sorry, I'm not familiar with all of these vendors. I have interpreted the list so that those SMILES with no vendor codes beyond column B (InChIKey) I am assuming are commercially unavailable, which I have highlighted so that you get something looking like this...
![image](https://user-images.githubusercontent.com/92033163/155527431-c3dbb6dc-af4b-4f32-bffb-43a0f6b10f72.png)

Is this correct

[2022-02-24 13:08] drc007 commented on #17
@TomkUCL I've only included vendor codes for those compounds that are "in stock".  For some compounds with no vendor codes there may be a ZINC ID or PubChem ID that can be used to identify sources that can make a compound if ordered. The vendors are all named and detailed here https://zinc.docking.org/catalogs/

Vendors like eMolecules, Mcule Molport aggregate multiple catalogues and act as a inte

[2022-02-24 13:13] TomkUCL commented on #17
@drc007 Brilliant, thanks!

[2022-02-24 14:11] TomkUCL commented on #17
I have run a quick Mcule search of the 99 SMILES from LibraryAvendors, which threw back a couple of results at $175 + $179 shipping...

![image](https://user-images.githubusercontent.com/92033163/155538316-690ba569-bf59-41c6-aef7-5615bf79e36c.png)

[2022-02-25 15:14] TomkUCL commented on #17
@kipUNC Here are the SMILES lists of compounds from libraries A, C and E (ChEMBL trained):
[Library A chemspace-search.xlsx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8142160/Library.A.chemspace-search.xlsx)
Note the SMILES doesn't seem to be regioselective for alkenes, so both regioisomers (E/Z) are included in the SMILES.

I have generated these lists by inser

[2022-02-25 17:07] TomkUCL commented on #17
**UPDATE:**

Ok, here are the SMILES @kipUNC. I took the Library A,C and E triaged dw files above, selected 30 structures whilst trying to maximise the chemical space explored in each one and then submitted those through ChemSpace. Some are commercially available, and these are described in the document below.

[Triaged commercial vendors similarity chart.docx](https://github.com/StructuralGenomic

[2022-02-26 16:11] mattodd commented on #17
Great work @TomkUCL! If @kipUNC can dock the lot then we can select 10 from each library to make, and maybe some to buy.

[2022-02-27 21:01] szackloo opened #18 "Engaging covid-19 open science community on Just One Giant Lab"
Dear All. This is a cool open science community who has interest and skills to contribute. https://app.jogl.io/need/697

[2022-02-28 14:24] mattodd commented on #18
Thanks! I wonder what's the best way to ensure cross-talk between JOGL and OCN. e.g. updates to them about this and other OCN projects (do we need newsletters...?)

[2022-02-28 18:16] kipUNC commented on #17
Thank you! I will provide the scores by Tuesday.

[2022-03-01 09:32] TomkUCL commented on #17
@kipUNC @H-agha What is the PDB code of the apo state protein that you are docking to? I will try to get some scores in ICM pro as well.

[2022-03-01 16:28] H-agha commented on #17
I used the PDB for fragment 420 - (PDB ID: 5RM6). However, after we learned from Jo about the electron density (ED) of the soaked crystals. I am not sure if it is better to use other crystal structures such as (PDB:5RMJ) for fragment  645 or (PDB: 5RMG) for fragment 524. Both fragments showed better ED map.

[2022-03-01 22:54] szackloo commented on #18
good question mat. I created the OCN project on JOGL to draw the chemistry community to this gihub site. Thus the JOGL post for CNP4 links back to this github site.
Similarly, I have been contacting SGC friends/family to request whether they would post Target 2035 initiatives including OCN. Tim Willson has offered to create a page here https://www.sgc-unc.org/ .

[2022-03-02 13:23] mattodd commented on #17
Hi @H-agha so wait, you mean for the docking of the potentials (above), or do you mean a more fundamental re-assessment of the pharmacophore/design? Please can you elaborate?

[2022-03-02 14:43] kipUNC commented on #17
I do not think we should worry about that. 420 is still good for docking, at least as good as any other. The electron densities of the ligands are not of a concern here.

[2022-03-02 14:51] H-agha commented on #17
Agha, Hebaalla has shared a OneDrive for Business file with you. To view it, click the link below.
<https://adminliveunc-my.sharepoint.com/personal/hebaa_ad_unc_edu/Documents/Attachments/Site%203-%20Fragm%20_%20residues%20alignment.zip>
[https://r1.res.office365.com/owa/prem/images/dc-zip_20.png]<https://adminliveunc-my.sharepoint.com/personal/hebaa_ad_unc_edu/Documents/Attachments/Site%203-%20Fra

[2022-03-02 15:13] kipUNC commented on #17
It is always a trade off, so we either dock into all structures or use one and keep other in mind when do final hit evaluation. The electron densities of the fragments do not change anything about binding site selection at this point.

[2022-03-03 13:27] mattodd commented on #17
Okeydoke @TomkUCL - @kipUNC has done some _Glide magic_ and come up with top 30 per library in [these two sheets](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/tree/main/FIle%20Diary/2022/Mar%202022/Konstantin%20Library%20Ranking) (one is the code cross-reference, the other are the scores). I think the two questions are
1) Which library is seemingly performing better? (ma

[2022-03-03 15:01] #18 closed

[2022-03-03 17:31] TomkUCL commented on #17
In terms of which library is the best scoring, it doesn't look clear cut to me. In the top 30 scoring compounds we have:
Library A = 11 fragments
Library C = 8 fragments
Library E = 11 fragments

[Kosta.dock.list.1.xlsx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8179747/Kosta.dock.list.1.xlsx)

![image](https://user-images.githubusercontent.com/92033163/15661942

[2022-03-04 14:20] H-agha commented on #17
Attached is the comparison of the docking scores for 3 different trials.
[Library A-C-E docking scores- comparison.xlsx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8186489/Library.A-C-E.docking.scores-.comparison.xlsx)

[2022-03-09 11:31] TomkUCL commented on #17
Here is a list of commercial and non-commercial fragments and some early thoughts on synthetic steps. Sorry took longer than expected as a lot of these were showing up through manual searches but not through Chemspace. I will continue to add to the synthetic routes for non-commercial fragments.

[Kosta docked top 30 fragments.docx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-termi

[2022-03-10 10:13] mattodd commented on #17
Really good analysis @TomkUCL. How about we work our way through it on Friday to ID the compounds that we should obviously order, those we should obviously make, and then then ones in the grey area. I guess the grey area ones are those where we might reconsider if the modeling is not strongly supportive.

[2022-03-10 11:17] TomkUCL commented on #17
No problem, happy to go through these tomorrow. I was hoping to have these docked today in ICM to back up some of Kosta and Heba's scores, but currently still waiting on the license renewal. I have been trying to install Autodock Vina as a backup, but there seem to be issues installing it on Windows, so i'll likely have to wait until ICM is back up and running.

[2022-03-12 13:53] TomkUCL commented on #17
Starting materials for 15E, 3A, 2A, and 4A have been ordered to arrive this week. According to the literature, the planned synthesis is 1 step, approximately 15 mins reaction time, so hopefully, I should be able to get these 4 compounds made by the following week.

I will compile a list of compounds that will need to be bought shortly.

[2022-03-12 17:51] TomkUCL commented on #17
Hi @H-agha,
I am trying to get some scores in AutoDock Vina for the top 30 fragment hits from Kosta's modelling to compare with the Glide scores that you have both generated (this is a slow process as I am also a first-time docker and self-teaching). I am using PyMol to prep the protein for docking as shown below. Can I just confirm with you that I have the correct site (site 3, https://github.com

[2022-03-15 16:51] H-agha commented on #17
Hi @TomkUCL, Good try. I am sorry, I am not familiar with AutoDock Vina. I used only Schrodinger applications. So, I can not help with this software.

However, I have only one comment. The score of 15E using bigger grid (-6.9) is actually higher and better than the score of (-5.9) using smaller grid. The very negative score corresponds to a strong binding and a less negative or even positive score

[2022-03-16 07:45] TomkUCL commented on #17
Thanks @H-agha . I am comfortable with the docking procedure now I think.

So far I have been using a 20x20x20 grid centred around the residues specified in the pharmacophore. Maybe for conformity I will dock on Vina using the same grid dimensions so that we can get a direct comparison.

Can I ask which coordinates your grid is centred at?

[2022-03-16 15:02] H-agha commented on #17
I am not sure what you meant by (Can I ask which coordinates your grid is centred at?) - the default settings in Glide make the grid centered around the ligand when we pick its atoms and the software define the dimensions. The bigger one (15x15x19) was a suggestion from Kostya, I think he chose these numbers so that it can cover a ligand that is bigger than the fragments to include any possible ne

[2022-03-20 02:30] H-agha commented on #17
Hi all,
Looking at the binding modes of the best compounds and the nearby residues in the active site of site #3. I suggested some modifications to these compounds that can add more interactions with other residues in the binding site. 17 compounds showed better docking scores and new interactions.
FYI, I  still need to check the synthetic feasibility of these modifications. Here are the slides.
[

[2022-03-24 06:27] kipUNC commented on #17
Colleagues, please take a look at top 100 compounds from screening Enamine 40B library. Please double check for duplicates.
[nsp13_40bil_top_100.txt](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8338969/nsp13_40bil_top_100.txt)

[2022-04-01 18:56] #17 closed

[2022-04-01 18:56] kipUNC commented on #17
Ok here are two DataWarrior files:
1. clustering_struct_score_1000.dwar -- files where I clustered top 1000 compounds including multiple scores (multiple poses) for same compounds. This information can give us an idea if some compounds have multiple poses that score well. Maybe an indication of a "goodness" of the compound. Clusters/compounds are colored by the score, so we want more green.
2.  cl

[2022-04-01 19:17] H-agha commented on #17
Thanks, Kostya!
________________________________
From: Konstantin ***@***.***>
Sent: Friday, April 1, 2022 2:57 PM
To: StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B ***@***.***>
Cc: Agha, Hebaalla ***@***.***>; Mention ***@***.***>
Subject: Re: [StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B] Triage of the Generative Suggestions (Issue #17)

Ok here are two DataWarrior files:

  1.  c

[2022-04-02 10:33] TomkUCL commented on #17
Thanks @kipUNC  - will look over this before monday's meeting!

[2022-04-04 11:32] TomkUCL opened #19 "Open-Source Coronavirus Monthly Update Meeting: Monday 4th April 2022."
**Meeting Zoom link:** https://ucl.zoom.us/j/99880132263

**Topic:** Nsp13 Monthly Meeting UCL/UNC/Astex.

**Time:** Apr 4, 2022 05:00 PM London (BST), UNC 12:00 noon.

**Chair:** Tom Knight

**Minute taker:** UCL

**The meeting  agenda can be found here:** [nsp13 monthly meeting agenda.docx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8409212/nsp13.monthly.meetin

[2022-04-04 11:35] TomkUCL commented on #19
Today's agenda for the first meeting 4th April 2022:

![image](https://user-images.githubusercontent.com/92033163/161535527-8ec7c51b-8618-4cac-888b-d79cd359f115.png)

[2022-04-04 13:38] tmw20653 commented on #19
[nsp13 helicases.pptx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8410166/nsp13.helicases.pptx)

[2022-04-04 17:30] TomkUCL commented on #19
Hi all,

Thanks for all your input during today's meeting. The meeting minutes and the recording will be uploaded here shortly.

@tmw20653 below are some videos on the GCI (Creoptix WAVE method) discussed towards the end for some background, including a case study from Domainex (@ 20:00 mins), a UCL/ICR spin-out drug discovery company based in the UK.

Here are some useful videos in case this coul

[2022-04-07 10:34] TomkUCL commented on #19
See below the Nsp13 Meeting No. 1: Monday 4th April 2022 recording link:

https://ucl.zoom.us/rec/share/aLWR_UBo482zYBD1-l-KXce0sHe053iO119LkOreartNrOJfR5hFmxLVb2eetnPX._ZEKSz1hZR029_tq?startTime=1649088230000 (Passcode: W5TmMF#p)

[2022-04-20 09:44] mattodd commented on #19
Good meeting the other day! Very good to have such a nice description of the background from @tmw20653.
Some misc notes:

1) **Is Nsp13 a validated target**? We assume so, but so far we (the scientific community) have no inhibitors, right? I guess "validation" of the target comes from efforts vs. Nsp13 equivalents in other viruses?

2) James (not on Github yet, right?) mentioned the wisdom of secu

[2022-04-20 13:53] H-agha commented on #19
[NSP13- Monthly meeting- 4-4-2022.pptx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8522048/NSP13-.Monthly.meeting-.4-4-2022.pptx)

[2022-04-25 09:41] jamesday100 commented on #19
It was great to join the team and put faces to names. Thanks for the minutes. Few additional comments on the points above.

1) To me the current pocket (Site 3) looks shallow and surface exposed with an unknown biological relevance. There is a slight risk there will not be enough potency to be found. Measuring the potency/LE of the starting fragment hits will suggest what the baseline is and could

[2022-04-25 10:36] TomkUCL commented on #19
Thanks for these points @jamesday100. On the point of pocket depth, the following 2022 molecular dynamics paper claims to have identified four potential allosteric binding pockets between domains 1A and 2A, in a region away from the ATP and the nucleic acid active sites.

**Ref;
Molecular dynamics simulations of the flexibility and inhibition of SARS-CoV-2 NSP 13 helicase
B.A. Raubenolt et al. Jou

[2022-04-26 19:22] TomkUCL commented on #3
@kipUNC @mattodd @tmw20653 @H-agha

Here is the Enamine quote for the top 100 scoring compounds from the Enamine 40BN library (cluster_centroids_100.dwar):

[Copy of Quote_1517184_EUR 5258.xlsx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8566229/Copy.of.Quote_1517184_EUR.5258.xlsx)

[2022-05-03 12:53] mattodd commented on #3
Hi @TomkUCL - so there's a cluster up top of the sheet of available molecules. Most are unavailable (is that surprising?). These can be bought:

So, @kipUNC I guess we need to know whether these compounds remain of interest? Have they been superceded by any more recent predictions?

[2022-05-05 14:46] kipUNC commented on #3
As previous list had smiles for the corresponding scaffolds, not actual compounds, please find an updated list. These may explain low % for synthetic availability for the smiles from the previous list.
[nsp13_40b_docking_top_500_not_scaffolds.txt](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8632202/nsp13_40b_docking_top_500_not_scaffolds.txt)

[2022-05-05 16:31] TomkUCL commented on #3
Thanks Kyosta, would you like me to submit this list with Enamine in place of the previous list?

[2022-05-07 15:47] TomkUCL opened #20 "Open-Source Coronavirus Monthly Update Meeting #2: Monday 9th May 2022."
Mat says: Meeting link is https://ucl.zoom.us/j/99880132263 I think?

[2022-05-09 16:39] H-agha commented on #20
Initial analysis for all the 51 fragments that bind to NSP13.[Fragment analysis for NSP13-Heba Agha.pptx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8653611/Fragment.analysis.for.NSP13-Heba.Agha.pptx)

[2022-05-10 08:27] jamesday100 commented on #20
As we are going to get SPR up and running I suggest doing a through assessment of the tool molecules for this protein so we can find a NSP13 tool molecule/s to validate our assays going forward.

For tool molecules you ideally want:

Reported biochemical IC50, ideally confirmed in multiple assays
Solubility data
X-ray structure confirming its binding mode
Chemical stability assessment, eliminate a

[2022-05-10 10:16] TomkUCL commented on #20
Please see a recording of yesterday's meeting via the following link;

https://ucl.zoom.us/rec/share/-47aS7MRfGueUxqkAT5I7SuGNPq5Vr7-nZ8J3tgaC_ZqaMA1fCKJCEFr3ok0Ex-e.rppSEhvFCsReiSE3?startTime=1652112140000
Passcode: =WnXR7=K .

Minutes to follow here shortly...

[2022-05-10 10:19] TomkUCL commented on #20
@H-agha is it possible to upload the PyMol file with ligands bound from slide 7 to the protein for visualization purposes? I'm assuming this is slide 7 but with the protein removed as a separate object?

[2022-05-13 12:32] H-agha commented on #20
Agha, Hebaalla has shared a OneDrive for Business file with you. To view it, click the link below.
<https://adminliveunc-my.sharepoint.com/personal/hebaa_ad_unc_edu/Documents/Attachments/nsp13-fragments.pse.zip>
[https://r1.res.office365.com/owa/prem/images/dc-zip_20.png]<https://adminliveunc-my.sharepoint.com/personal/hebaa_ad_unc_edu/Documents/Attachments/nsp13-fragments.pse.zip>
nsp13-fragments

[2022-05-20 06:56] kipUNC commented on #3
Here is top 28 generated molecules reinforced by the top hit from 40B screening.
[generated_top_28_fineTune40B.csv](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8737085/generated_top_28_fineTune40B.csv)

[2022-05-27 13:35] TomkUCL opened #21 "Helicase Review"
The google doc for the helicase review can be found here:
https://docs.google.com/document/d/14GnyDPPl17mi56FxNwPg876HOr_SrafZYY_3j36Srg8/edit?usp=sharing

[2022-05-27 16:59] H-agha commented on #21
Check this recent book named RNA Remodeling Proteins, Methods and Protocols
https://link.springer.com/book/10.1007/978-1-0716-0935-4

[2022-05-27 19:41] TomkUCL commented on #21
Here is the paper discussed in today's meeting, I recommend checking the videos in the SI, which give a good indication of the movement of nsp13 within the RTC based on cryo-EM structures and MD simulations. In particular, the movement of the RecA2 domain, where our pocket is located.

**Ensemble cryo-EM reveals conformational states of the nsp13 helicase in the SARS-CoV-2 helicase replication–tra

[2022-05-27 19:50] H-agha commented on #21
Newman paper (https://doi.org/10.1038/s41467-021-25166-6) also has a similar movie attached here.
[Supp Movie- Newman paper.mpg.zip](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/8789409/Supp.Movie-.Newman.paper.mpg.zip)

[2022-05-27 20:19] TomkUCL commented on #3
@kipUNC following today's meeting and @tmw20653 checking to clarify where the fragments have come from, I just want to check with you the number of purchasable compounds. Any that are non purchasable we will continue with synthesis here. Thanks.

Pharmacophore screen generated original top 40 scoring compounds (9 are purchasable from Enamine)

Generative Enamine REAL – top 100 (43 are purchasable

[2022-06-09 12:13] mattodd commented on #3
Looks good @TomkUCL. Hopefully all correct @kipUNC. I'm updating the wider AViDD READDI group today and I've started to construct the "Story So Far" page on the wiki which is meant to be the high level summary of where we're up to.
I think this Issue (number 3) should be reserved for the compounds that have arisen from docking the Enamine Real library - i.e. the docking of commercially-available m

[2022-06-09 14:10] kipUNC commented on #3
Those numbers look reasonable. We've had some pretty good results with our last screening of the 40B REAL library and now I am finishing the list. So there will be the last list for the Site 3. I would not necessarily be keeping all purchasable hits separate lists as those were mostly due to developmental stage of the project. So when we get all the purchasable hits ready  we can combine them. As

[2022-06-12 16:28] tmw20653 commented on #21
Review outline:
1. Introduction - Helicases are motor enzymes – unwind DNA and RNA - (Tim)

2. Helicases in diseases (cancer, viral, etc) - (Heba)

3. Helicases as a protein family (3 subfamilies, human, viral) - (??)
- Who can perform the sequence analysis and generate a list of the helicases in each family (SF1-3)?
- Need to define the key domains within each family
- SF1 includes alphavirus nsp

[2022-06-12 19:57] kipUNC commented on #21
I can take a look at the structural stuff.

[2022-06-18 10:20] TomkUCL commented on #15
@kipUNC could you upload your latest generative workflow slides below here? thanks

[2022-06-20 11:55] TomkUCL commented on #5
A micromolar inhibitor of nsp13 was reported, however, no mode of action was indicated.

Discovery of 2-Phenylquinolines with Broad-Spectrum Anti-coronavirus Activity
ACS Medicinal Chemistry Letters 2022 13 (5), 855-864
DOI: 10.1021/acsmedchemlett.2c00123
![image](https://user-images.githubusercontent.com/92033163/174596108-45e9af9f-0b7c-429b-8013-de0a3fe627b2.png)

[2022-07-04 09:17] TomkUCL opened #22 "Known Inhibitors of SARS-CoV-2 Nsp-13 (helicase) - Google Doc"
A table of known nsp13 inhibitors in the literature can be found here. Users are encouraged to add known inhibitors that are not already in the table following the format shown:

![image](https://user-images.githubusercontent.com/92033163/177123830-0b16dbca-8103-4d4b-9b8a-d4ad504f426f.png)

The google doc can be found here:
https://docs.google.com/document/d/1aDMDrQo6alDvjMkXfTjfuPcpdEAvAt1oNj8EB6

[2022-07-11 07:21] TomkUCL opened #23 "Open-Source Coronavirus Monthly Update Meeting #3: Monday 11th July 2022."
Today's monthly SARS-CoV-2 Helicase FBDD progress meeting will be taking place on Zoom. See link below to join. The video recording of today's meeting will be uploaded here shortly thereafter.

Join Zoom Meeting
https://ucl.zoom.us/j/97172937586

Meeting ID: 971 7293 7586

[2022-07-11 11:05] mattodd commented on #23
Hi @TomkUCL - could you please add in some agenda items to the above? I think we need a quick summary of modelling/predictions from @kipUNC, a protein update from the Toronto crew (Tom, I don't think Peter Brown is on Github, but could be reached by mail), and then a chemical update that includes your "tracking sheet". A summary of what's needed next in the helicase review, and how people can cont

[2022-07-11 12:22] TomkUCL commented on #23
![image](https://user-images.githubusercontent.com/92033163/178263110-f3594dd2-5c7b-4b15-af3e-396ccfcef8e0.png)

[2022-07-11 15:54] tmw20653 commented on #21
Updated Review outline:

1. Introduction - Helicases are motor enzymes – unwind DNA and RNA - (Tim)
2. Helicases in diseases (cancer, viral, etc) - (Heba)
3. Helicases as a protein family (5 subfamilies SF1-5, human vs viral) - (Tom?)

4. Structures of helicases (Kostya)
A search of PDB for 'helicase' gave 7400 entries!
5892 X-ray, 1131 cryoEM, 377 NMR
5. Structural model of how helicases work - (

[2022-07-11 17:35] TomkUCL commented on #23
@kipUNC please upload the latest list of structures discussed in today's meeting into this thread. Thanks

[2022-07-12 10:42] TomkUCL commented on #23
Thanks to everyone from @StructuralGenomicsConsortium/cnp4-nsp13 who attended yesterday's monthly nsp13 meeting. The meeting video link can be found here:

https://ucl.zoom.us/rec/play/hV4ToBK_wwRRBiBvopNsmeRCO1RV7i6sWN5sU0_pFWKsxRaPFKAVLX4NPB8NSPz0uZiutjkz4W9tXUgt.6mwdX9k9OQ7_ty8z
Passcode: .Ax?8+.O
![image](https://user-images.githubusercontent.com/92033163/178472234-73fe5045-067a-4a2d-83e5-0380

[2022-07-12 13:03] TomkUCL commented on #23
Slide deck from yesterday's meeting:
[nsp13 monthly update no.3.pptx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/9093055/nsp13.monthly.update.no.3.pptx)

[2022-07-13 11:17] drc007 commented on #23
Enamine is a good start, Mcule https://ultimate.mcule.com and Wuxi Galaxi https://www.biosolveit.de/wp-content/uploads/2021/08/Xu.pdf could be worth looking at also.

[2022-07-13 20:52] mattodd commented on #22
OK, so we need to coalesce into one document/sheet, and we need to make sure we're collating the necessary info. DOIs for sure, and the year of publication (so we can sort if we want). Are we here identifying inhibitors of Nsp13 or are we doing viral helicases? What's our scope at this stage @ahsgc @TomkUCL ?

Ping @tmw20653 and will try to get Peter Brown on here.

[2022-07-13 21:43] ahsgc commented on #22
@mattodd
In this excel sheet, I added helicase inhibitors to find out any potential templates. I will narrow it down to NSP13 ASAP.

My suggestion is to use an excel file instead of google word (for flexibility and sorting). I can merge these two documents @TomkUCL.

[2022-07-15 13:27] TomkUCL commented on #23
[@StructuralGenomicsConsortium/cnp4](https://github.com/orgs/StructuralGenomicsConsortium/teams/cnp4-nsp13) here is the makeable compound list from enamine (~60 molecules):

[Copy of Quote_1548556_EUR.xlsx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/9121135/Copy.of.Quote_1548556_EUR.xlsx)

[2022-07-21 10:26] mattodd commented on #22
Pasting here in case we don't already have this:
https://pubs.acs.org/doi/10.1021/acs.jpclett.0c02421
Discovery of COVID-19 Inhibitors Targeting the SARS-CoV-2 Nsp13 Helicase, Mark Andrew White*, Wei Lin, and Xiaodong Cheng* J. Phys. Chem. Lett. 2020, 11, 21,

[2022-07-21 13:28] tmw20653 commented on #23
@TomkUCL @mattodd @ahsgc
We could pursue both Option 1 and 2.
Option 1: you pick the top scoring Glide hits to synthesize at UCL
Option 2: we send exemplars from each cluster for synthesis at our CRO. Can you generate a list for @ahsgc to review?

[2022-07-21 15:15] jamesday100 commented on #23
@TomkUCL @mattodd @ahsgc

Sounds like the preferred option is 1 and 2.

In my experience docking scores have very little correlation with binding affinity and it's much better to use SBDD knowledge, shape fit to rank and prioritize hit matter. We are not dealing with large numbers here only ~100 compounds or so. I guess I do not know your access to tools to dock and inspect the binding modes. And

[2022-07-21 15:30] kipUNC commented on #23
@jamesday100

Those compounds are not the result of a "blind" docking/VS, those are produced with knowledge of SBDD, p-phore modeling etc. Each of that top one hundred are not just top but score, they were also examined to fit of SBDD data and interaction "maps". Also I would like to point out that for this site SBDD only produced very few (3/4 don't recall of he top of my head) quote similar liga

[2022-07-23 09:02] TomkUCL opened #24 "Structures of Helicases, and How They Function - Google Doc"

[2022-07-26 17:17] mattodd commented on #23
Helicases examined as part of the [TREAT-AD consortium](https://treatad.org/data-tools/) can be part of mutual cross-screening efforts between that group and this. Tim's part of both.

[2022-07-27 07:54] TomkUCL opened #25 "SPR Assay - Getting up and running"
Hi @SumeraMalik123,

I am @mattodd 's  PhD student working on nsp13 FBDD. We are planning to set up and replicate your SPR assay with David Selwood's group here at UCL in the next few weeks. I am new to SPR but Dave has a lot of experience in this area, so he is going to help us get the assay up and running once biotinylated nsp13 arrives.

I would appreciate it if you could provide details on you

[2022-08-08 08:57] TomkUCL opened #26 "Open-Source Coronavirus Meeting #4: Monthly Update Meeting"
https://github.com/orgs/StructuralGenomicsConsortium/teams/cnp4-nsp13 Today's monthly SARS-CoV-2 Helicase FBDD progress meeting will be taking place on Zoom. See the link below to join. The video recording of today's meeting will be uploaded here shortly thereafter.

Join Zoom Meeting https://ucl.zoom.us/j/97172937586

Meeting ID: 971 7293 7586

Here is the proposed agenda for today:

[2022-08-08 09:30] TomkUCL commented on #26
@ahsgc Here is the list of compounds from Kostya's analysis for Piramal to synthesise. I have removed compounds from the original list that either Enamine or we here at UCL plan to make:
[Piramal List (DeNovo Generative Top 100).xlsx](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/9280485/Piramal.List.DeNovo.Generative.Top.100.xlsx)

The Enamine REAL Space list is a

[2022-08-09 13:06] TomkUCL commented on #26
The video recording from this meeting can be found here:
https://ucl.zoom.us/rec/play/uzPnxCT0xG1btTSTXeKFFmHNiuCIqReVJL0CE7VO4_BqsMLt1cRhap8TIHCdNX8CsAaE6lxs3CerQxBa.3YgR13ANDdfZRutS
Passcode: be6vY*?T

[2022-08-10 10:28] mattodd commented on #25
I think the protein's here!
Details:
    Concentration of protein is 2.5 mg/mL
    Sequence: 5325-5925
    Buffer used: 50 mM HEPES pH 7.5, 200 mM NaCl, 5% Glycerol, 0.5 mM TCEP
    protein has C-term His-tag and N-term Avi-tag

[2022-09-06 20:59] TomkUCL opened #27 "Synthetic Route Suggestions"
Hi GH community,

We are looking for proposed synthetic routes toward the following target molecules. Due to the similarity of these compounds and in the interest of saving time, a general synthetic route has been planned involving simple amidation and Boc/de-Boc chemistry, however, if better routes can be suggested then please feel free to add them here. We are also looking for synthetic routes t

[2022-09-06 21:07] TomkUCL commented on #27
@ahsgc has kindly offered the following route suggestions for the fluoropyridine acid motif and similar analogues that is ubiquitous in all of the top ten scoring generative Glide hits from @kipUNC. I am currently pursuing the route towards acid 1 below using CuO and CuI catalysed malonation and decarboxylation as per reported patent routes as the commercial cost of the acid starting material is ~

[2022-09-06 21:41] mattodd commented on #27
OK, great @TomkUCL, so just to step back a sec (in case people were not at the last monthly meeting (#26):

The molecules in the top pic are some of the most promising that have been predicted to bind our target site on SARS-CoV-2 Nsp13. The predictions were made by @kipUNC using generative methods. Some compounds from this set are being made by Pyramal (ping @ahsgc), but those above involve comme

[2022-09-08 05:04] kipUNC commented on #27
@mattodd I would gladly help if you clarify what is exactly the task. Maybe we can have a meeting?

[2022-09-08 17:02] mattodd commented on #27
All: @kipUNC and I are going to talk this through in person here at UNC. Ultimately, since we're comparing commercial vs generative approaches we can't include new analogs without checking first that those analogs are predicted to work.

@TomkUCL - @ahsgc likes the idea of coupling the N-oxide last, to avoid carrying it through several synthetic steps. It's an interesting point we can interrogate.

[2022-09-09 13:33] cedricgr commented on #27
Hi all (@TomkUCL, @mattodd ),

We (myself, Rosie Street-Jenkins and Luccas Sanches) discussed some routes for 1 and 2 in our weekly WCAIR Med. Chem. problem sessions here at Dundee. We came up with some possible routes for you.

![route-for-1](https://user-images.githubusercontent.com/5225090/189362014-902c0da6-db34-4d89-84b0-0fa8ba50dac7.png)
Route for 1 is based on the patent WO2021050992, using

[2022-09-09 18:47] mattodd commented on #27
Thanks, @cedricgr ! I agree some of the selectivity in the reductions in the first synthesis could be tricky. I'm liking the second one, though. Well, except that the alkyl chains are the wrong way round ;)

[2022-09-09 19:01] mattodd commented on #25
Suggestion from Michael Ronzetti on Twitter: https://twitter.com/MRonzetti/status/1568313309430185985

[2022-09-12 08:39] cedricgr commented on #27
Issue corrected!

[2022-09-12 10:13] TomkUCL opened #28 "Open-Source Coronavirus Monthly Update Meeting #4: Monday 12th September 2022"

[2022-09-12 10:16] TomkUCL commented on #28
Today's monthly meeting agenda will include the following:

- Setting up the SPR assay (ordering of chips, reference compounds (ADP, ATP-analogues, Joe Newman fragments, gathering chip-binding and protein regeneration protocols from Levon using human helicases as a reference); see here: https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/issues/25

[2022-09-12 11:51] mattodd commented on #25
Suggestion from Dave Fernig https://twitter.com/DaveFernig/status/1568678897629417474
"DSF fast, best starting point. for immobilisation, go for a selective biotinylation at N-term, but first check background. Only way SPR style assays can be meaningful is if background below/near limit of detection. Happy to chat over Zoom, DM me"

[2022-09-12 13:52] mattodd commented on #28
Cool. Could you please post the meeting link here for newbies and tweet out pinging me and using #sgc-ocn? If someone could provide a short update on heli-hub in the meeting, that'd be great.

[2022-09-12 14:32] TomkUCL commented on #28
To join today's recorded Zoom meeting, follow this link:
https://ucl.zoom.us/j/97172937586

[2022-09-12 15:28] TomkUCL commented on #27
I am currently working on this building block (~$2000 / 1 g), which is needed on a multigram (~10 g scale) due to its prevalence in the 10 compounds that I am currently pursuing:
![image](https://user-images.githubusercontent.com/92033163/189693089-e1a8e15b-7f20-422c-bfb5-7516f0beb043.png)
![image](https://user-images.githubusercontent.com/92033163/189693385-34fa1c9e-d721-464d-877f-81557f9a3945.pn

[2022-09-12 17:00] SumeraMalik123 commented on #25
Buffer and pH used for nsp13 during assays was 50 mM HEPES pH 7.5, it behaved pretty well at this pH

[2022-09-12 17:05] TomkUCL commented on #25
Response from Levon:
1.	Which SA chips are you using for the biotinylated human helicase SPR assays? (e.g. Clara suggested these ones - [Sensor Chip SA | Cytiva (cytivalifesciences.com)](https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.cytivalifesciences.com%2Fen%2Fus%2Fshop%2Fprotein-analysis%2Fspr-label-free-analysis%2Fspr-consumables%2Fsensor-chips%2Fsensor-chip-sa-p-06183&

[2022-09-12 17:07] SumeraMalik123 commented on #25
nsp13 tolerates NaCl well upto 100Mm, and KCL upto 125 mM

[2022-09-12 17:08] SumeraMalik123 commented on #25
Here is the article on nsp13 ATPase activity
https://pubs.acs.org/doi/10.1021/acsinfecdis.2c00165

[2022-09-12 17:16] TomkUCL commented on #28
Hi all,

The video recording from today's nsp13 meeting can be found here: https://ucl.zoom.us/rec/play/8-4QrgvPlmshTWaQEYCIymChyqdh1sbSbcvZZ52VnTeHWeyNB5-4eHGOJsWSubh-11vaHwm4lkVGge3L.T_bZYKBJgpmj4Kga
Passcode: xF7^L@zW

[2022-09-13 08:17] jamesday100 commented on #27
hi @TomkUCL here's an idea for you for the seven membered ring.

![image](https://user-images.githubusercontent.com/104353583/189848744-fa9648c4-8ab3-4b26-8deb-4449ba86a493.png)

[2022-09-13 08:40] TomkUCL commented on #27
Great @jamesday100 - the starting material is a little expensive, but 2-Benzylsuccinic acid is cheap and widely available in the UK;
![image](https://user-images.githubusercontent.com/92033163/189854223-1f5bb16c-61f4-45ac-833e-29e7940d9701.png)

[2022-09-13 08:53] jamesday100 commented on #27
Great, here's another route for you. Starting material is expensive, but available. You might be able to make it more cheaply. NB: this with give the racemic cis isomer. I think the route to this target using the Mannich reaction is good. Just note we usually do advise testing 4 isomers at once, so hopefully you can separate out the diastereomers (cis and trans) and couple them up.

![image](https

[2022-09-14 09:30] ClaratheChemist commented on #25
Hi Tom

Attached are the handbooks I talked about. With the protocol above and these, you can't go wrong anymore!
Note that the buffer selector has not been really set up in our machine. (To ' switch buffer '). You can just stop the run, change it manually, then restart. Or you can try to set up the buffer selector too :)

[Biacore Assay Handbook.pdf](https://github.com/StructuralGenomicsConsortiu

[2022-09-16 10:56] mattodd commented on #22
@SumeraMalik123 wrote in a recent meeting: A serial of potential drugs, including flavonoids, myricetin, scultellarein, dihydroxychromones, aryl diketoacids, 3-[(2-nitrophenyl)sulphanylmethyl]- 4prop-2-enyl-1H-1,2,4-triazole-5-thione and bismuth salts had been found by different groups to target the ATPase/ helicase activities of SARS-CoV nsp13 (Seybert et al. 2005; Yang et al. 2007a, b; Lee et al

[2022-09-16 13:41] ahsgc commented on #22
These compounds are already listed in our common excel file with relevant citations.

I will cross-check once again.

@SumeraMalik123 Thank you for sharing these.

[2022-09-16 15:48] SumeraMalik123 commented on #22
Here are a few more
 licoflavone C,  a novel small compound (7-ethyl-8-mercapto-3-methyl-3,7-dihydro-1H-purine-2,6-dione also designed as EMMDPD), guanidine hydrochloride (GuHCl), ebselen, Bismuth potassium citrate, Ranitidine bismuth citrate, Bismuth citrate, three  small  organic molecules (bananin,  SSYA10-00,  and  chromone-4c), other small molecules (ChemDive ID: F306-0053 and 5645-0263),  su

[2022-10-03 07:56] TomkUCL commented on #25
@SumeraMalik123 Do you have a preference for the series S chips (https://www.cytivalifesciences.com/en/us/shop/protein-analysis/spr-label-free-analysis/spr-consumables/sensor-chips/series-s-sensor-chip-na-p-23327) over the cheaper SA chips, (https://www.cytivalifesciences.com/en/us/shop/protein-analysis/spr-label-free-analysis/spr-consumables/sensor-chips/sensor-chip-sa-p-06183)?

Levon tells me t

[2022-10-03 09:47] TomkUCL commented on #25
@StructuralGenomicsConsortium/cnp4-nsp13 ADP and ANP-PNP have been ordered as substrate binding controls for the SPR assay with delivery expected next week. Any suggestions on solution concentrations would be helpful :)

[2022-10-04 08:26] TomkUCL commented on #24
https://docs.google.com/document/d/16WM2XpYj87uBJZyxVrw6__Vm319YM2UCvIXbcLTkHKA/edit?usp=sharing

[2022-10-06 14:46] TomkUCL commented on #22
Published October 2022:
Punicalagin as an allosteric NSP13 helicase inhibitor potently suppresses SARS-CoV-2 replication in vitro
https://www.sciencedirect.com/science/article/pii/S0166354222001589?via%3Dihub

[2022-10-10 08:04] TomkUCL opened #29 "Open-Source Coronavirus Monthly Update Meeting #5: 17:00-18:00 BST, Monday 10th October 2022"
If you like SARS-CoV-2 proteins, drug discovery, and open science, then join the SGC online, and the sgc-ocn team meeting today from 17:00-18:00 BST to discuss pan-coronavirus antivirals.

Join Zoom Meeting: https://ucl.zoom.us/j/97172937586

[2022-10-10 09:47] mattodd commented on #29
OK, can you post an agenda (just text in one of these boxes - easier to search for (using e.g. Google) than a PDF (which Google can't see)). I'd like to include:

1) The recent inhibitor you found @TomkUCL  https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/issues/22#issuecomment-1270191492
2) Where we're up to with compounds from Enamine etc @ahsgc
3) Update on your chem, @To

[2022-10-10 10:34] TomkUCL commented on #29
Today's monthly meeting agenda will include the following:

**Setting up the Nsp13 SPR assay (17:00-17:10)** @TomkUCL @ClaratheChemist

- S Series SA chips ordered - waiting for delivery.
- Nsp13 protein is now at UCL being stored at -70degC.
- 51 compounds from Enamine in DMSO are now at UCL, stored at -20 degC.
- Status of reference compounds; ADP in-house, AMP-PNP due for delivery.
- Joe Newman

[2022-10-10 16:58] TomkUCL commented on #29
Slides from today's meeting: [Monthly update 10.10.2022.pdf](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/9747725/Monthly.update.10.10.2022.pdf)

Meeting recording:

Meeting minutes:

[2022-10-10 19:56] mattodd commented on #29
Action item on one of us to catch up with Joe Newman about the value of ADP as a control, given its relatively high off rate. Though I think we've some interesting choices here that should allow us to validate the SPR assay.

Action on you @TomkUCL to get together the two sheets of compounds that we sent to Enamine - one commercial, one generative - and delineate which have been sent, which will n

[2022-10-10 20:08] mattodd commented on #28
In this meeting we mentioned the possibility of using other Nsp13 binding proteins as a control to indicate the SPR assay works. Otherwise: ADP and a non-hydrolysable ATP analog. @SumeraMalik123 used a peptide control; has just published a paper on some Nsp13 binders (https://pubs.acs.org/doi/10.1021/acsinfecdis.2c00165).

@jamesday100 thinks our compounds appear to be good-looking solubility wise

[2022-10-11 09:27] SumeraMalik123 commented on #25
Hi Tom,
Sure, I’ll share all the details.

Regards
Sumera
________________________________
From: Tom Knight ***@***.***>
Sent: Wednesday, July 27, 2022 12:54 PM
To: StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B ***@***.***>
Cc: Sumera Perveen ***@***.***>; Assign ***@***.***>
Subject: [StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B] SPR Assay - Getting up and running (Issue #25)

Hi @

[2022-10-18 09:41] jamesday100 commented on #29
Hi All, sounded like a productive meeting with a good discussion. And happy to hear that there could be some potential tool molecules. I am still in the process of reading the papers. Did we find fragments in the same potential binding site as the PUG molecule?

@TomkUCL: PS: For tricky reductive aminations, often you can use titanium isopropoxide to force the imine to form.

[2022-10-19 12:51] mattodd commented on #25
We (@mattodd and @TomkUCL) had a useful meeting with Joe Newman re Nsp13 SPR assays on 18/10/22.

Identifying e.g. low micromolar binders using SPR can be tough!

Amine coupling method of immobilising protein can lead to non-functional and/or mis-oriented protein. DNA binding proteins tend not to be happy in buffers of low ionic strength (involved in the amine coupling). Our N-terminal avitag shou

[2022-10-19 14:57] TomkUCL commented on #25
We have ordered the streptavidin chips (SA) ; https://www.cytivalifesciences.com/en/us/shop/protein-analysis/spr-label-free-analysis/spr-consumables/sensor-chips/sensor-chip-sa-p-06183

If that fails, we can try the neutravidin (NA) chips; https://www.cytivalifesciences.com/en/us/shop/protein-analysis/spr-label-free-analysis/spr-consumables/sensor-chips/series-s-sensor-chip-na-p-23327

[2022-10-19 15:21] SumeraMalik123 commented on #25
Hi Tom, the one you already ordered
streptavidin chips (SA) ; https://www.cytivalifesciences.com/en/us/shop/protein-analysis/spr-label-free-analysis/spr-consumables/sensor-chips/sensor-chip-sa-p-06183
will be good.

[2022-10-20 09:10] jamesday100 commented on #29
Thanks for the additional information and beautiful images.

PS for the titanium isopropoxide reductive amination, I would prefer the free base for these reactions. Often the TFA salt will interfere in the reaction.

[2022-10-20 10:07] TomkUCL commented on #29
No problem - Chimera X is great for getting pretty images like this from PDB structures.

I'm having some trouble with this currently. I'm trying to convert the TFA salt of the amine below to the free base but as you can imagine it is very hydrophilic, so a typical base wash with hydroxide or carbonate takes all of the amine into the aqueous phase. Do you know a potential solution to get around th

[2022-10-20 10:57] toluene44 commented on #29
One method I’ve used in the past is to liberate the free base in brine, then extract with iso-propanol. Iso-propanol is not soluble in brine and this is a good method for extracting water-soluble compounds

Peter

From: Tom Knight ***@***.***>
Date: Thursday, October 20, 2022 at 6:07 AM
To: StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B ***@***.***>
Cc: Brown, Peter J ***@***.***>, Team ment

[2022-10-20 11:15] jamesday100 commented on #29
Yes I can see why that might be an issue. Often, for polar amines we use SCX columns (Silica-Ph-SO3H) washing through with methanol to trap the amine and release with 2M ammonia in methanol. Or you can trap the acid with (Silica-NH2) and wash with methanol to elute the free base.

Additionally for polar amines, you can use 10% iPrOH in CHCl3 in saturated brine solution.

[2022-10-20 12:19] toluene44 commented on #29
I’d just make up 2N NaOH in brine

Peter

From: Tom Knight ***@***.***>
Date: Thursday, October 20, 2022 at 7:07 AM
To: StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B ***@***.***>
Cc: Brown, Peter J ***@***.***>, Mention ***@***.***>
Subject: Re: [StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B] Open-Source Coronavirus Monthly Update Meeting #5: 17:00-18:00 BST, Monday 10th October 2022

[2022-10-23 23:52] ahsgc commented on #22
A summary of chemotypes for SARS-CoV-2

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8188765/

[S107042802105002X.pdf](https://github.com/StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B/files/9847843/S107042802105002X.pdf)

@TomkUCL @mattodd @tmw20653

[2022-10-24 00:05] tmw20653 commented on #22
Anwar,

There is a primary sulfonamide that they list as a SARS-CoV helicase inhibitor
https://pubmed.ncbi.nlm.nih.gov/28910865/

Tim

From: Anwar Hossain ***@***.***>
Date: Sunday, October 23, 2022 at 7:55 PM
To: StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B ***@***.***>
Cc: Willson, Tim ***@***.***>, Mention ***@***.***>
Subject: Re: [StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B]

[2022-10-24 01:23] ahsgc commented on #22
@tmw20653

I found several other similar molecules active against NSP13. I am now working on designing a small library (from a similarity search) to purchase or synthesize (an addition to our current thiazole series).

From docking:

<img width="752" alt="image" src="https://user-images.githubusercontent.com/108078845/197429654-a47029bb-797b-4307-ab87-b1a91c0114b8.png">

Ref: https://www.sciencedi

[2022-10-24 01:32] tmw20653 commented on #22
Anwar,

I am skeptical of Raubenolt paper, since it contains only molecular docking and no experimental data on nsp13 inhibitionn.

Tim

From: Anwar Hossain ***@***.***>
Date: Sunday, October 23, 2022 at 9:23 PM
To: StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B ***@***.***>
Cc: Willson, Tim ***@***.***>, Mention ***@***.***>
Subject: Re: [StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B

[2022-10-24 01:46] ahsgc commented on #22
Agreed! I see it is commercially available without a biological profile. I will keep track of this molecule as optional!

Anwar

[2022-10-31 14:21] TomkUCL commented on #24
https://www.evernote.com/shard/s491/sh/1b17a83a-ea7a-44fd-f62b-6d326a4a08b8/a3b5cb6dbde3e4bda59ec82760118737

[2022-11-02 09:56] TomkUCL commented on #25
A brief update on the SPR:
Streptavidin SPR chips have arrived, along with control compounds (PUG & AMP-PNP) and 51 compounds from @ahsgc and Enamine. Protein is stored in the freezer.

[2022-11-03 13:25] TomkUCL commented on #29
Thanks Peter - this seems to have done the trick.

[2022-11-04 10:29] TomkUCL commented on #25
SPR method using amine coupling from this paper;
https://www.sciencedirect.com/science/article/pii/S0166354222001589?via%3Dihub ![image](https://user-images.githubusercontent.com/92033163/199951281-c31465ea-e4b7-4b4b-8c5a-0a69cb545a2f.png)

[2022-11-04 10:36] ClaratheChemist commented on #25
Hi Tom, I am not in the lab these days, but others in the lab can help you. Email is no problem if needed, I'll be replying quickly. PBSP sounds good to run your molecules according to the reference and we have that buffer.

[2022-11-04 11:09] TomkUCL commented on #25
@ClaratheChemist Great thanks, I'm assuming the same running buffer (PBS) can be used for the biotin capture method as for the amine coupling method used here?

[2022-11-04 11:33] ClaratheChemist commented on #25
I would not assume that, no. The sa chips should have some instructions? if no buffer is stated then it should not matter too much but I'd check literature. I have never done biotin capture sorry

[2022-11-07 19:47] TomkUCL commented on #25
SPR started on Biacore T100 on 7th Nov:

**Preparation of Nsp13 protein buffer stock solution:**

An Nsp13 stock solution was prepared from one of the aliquots from Sumera (2.5 mg/ml, 50 uL) by diluting it to 0.03 mg/ml  ; 1.8 uL of nsp13 solution (2.5 mg/ml) was diluted with 148.2 uL of HBS-EP+ pH 7.6 to make 150 uL of solution.

**Nsp13 protein was coupled to a Cytiva Series streptavidin (SA) ch

[2022-11-08 10:39] mattodd commented on #25
Great @TomkUCL - sorry if I missed it, but what does it look like when you just flow buffer over it, or is that the reference cell?

[2022-11-08 10:40] ClaratheChemist commented on #25
Did you add 2% dmso to your running buffer AND also the sample buffer (matched buffer principle?)
That would explain the spikes.

You can include a 4 point solvent correction

Your compound binds and very tightly. It does not dissociate. The sensorgram does not look good because of buffers probably. Best to check with people in the lab what you did wrong

You really need to read the manuals I sent

[2022-11-08 14:59] TomkUCL commented on #25
@ClaratheChemist Yes I had added DMSO- the only point at which I hadn't added DMSO was during the protein capture step as I didn't think that mattered. Maybe the percentages were not exactly the same though. I wondered if switching from the HBS-EP+ buffer during the capture to the PBS buffer for the screen would have this effect, although this would be accounted for in the reference channel I beli

[2022-11-08 15:49] ClaratheChemist commented on #25
HI Thomas,

ok great. I don;t know all the steps of your procedure but when I look at your sensorgram I would say it is a buffer problem (matching refractive index pic).

If you look at the post-its I wrote on the machines, there are some tips on how to get good data. One of them is to always prime before your run to equilibriate the system well. But in your case your blanks look alright. Yes it i

[2022-11-08 15:51] ClaratheChemist commented on #25
PS : the capture does not need DMSO dont worry. Just running buffer must be = buffer in your sample well

[2022-11-09 15:07] TomkUCL commented on #25
I see - the handbook suggests PBS buffer for small molecules, so this is what is used (with 2% DMSO) as the running buffer. I am sure they were the same as I took some of my PBS stock solution to dilute the Punicalagin sample.

[2022-11-09 15:17] ClaratheChemist commented on #25
Ok just in case, this is how I usually do it:
Take small molecule stock and make a 2% DMSO solution of that by adding PBS that does not contain DMSO. That is a 50x dilution from a pure DMSO stock, so in your case would be resulting 1.38 mM/50 = 27.6 uM concentration of compound.

Then dilute this further with the exact running buffer you are going to use (containing 2% DMSO), to whaterver concentr

[2022-11-14 15:44] TomkUCL opened #30 "Open-Source Coronavirus Monthly Update Meeting #6: 17:00-18:00 BST, Monday 14th November 2022"

[2022-11-15 11:29] Evert-Homan commented on #30
Hi Tom,

Thanks for the invite but I need to refrain, I have too many projects on my plate as it is.

BW/Evert

From: Tom Knight ***@***.***>
Sent: Tuesday, 15 November 2022 12:16
To: StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B ***@***.***>
Cc: Evert Homan ***@***.***>; Team mention ***@***.***>
Subject: [StructuralGenomicsConsortium/CNP4-Nsp13-C-terminus-B] Open-Source Coronavirus Monthl

[2022-11-15 13:47] mattodd commented on #30
Sorry @Evert-Homan - my mistake, tagged the wrong team. You can ignore!

[2022-11-21 15:36] TomkUCL commented on #25
@ClaratheChemist is it necessary to have 2% DMSO in the ligand capture buffer (HBSEP) as well as in the ligand running buffer (PBS), or only in the running buffer?

[2022-11-21 15:59] ClaratheChemist commented on #25
Don't use dmso for your capture. Then change the buffer to 2% dmso, prime the machine as Was shown by Kate (?).
Then your samples in the plate must be of the exact same composition as your running buffer, so 2% dmso too. Follow the protocol I sent you above if you want, that's the easiest way I found

[2022-11-21 16:00] ClaratheChemist commented on #25
Running buffer is the name of the buffer bottle o. The left of the machine, so I am a bit confused by the question. I am back in a few minutes if you want to wait

[2022-11-22 14:30] TomkUCL commented on #25
Since PUG was irreversibly captured onto nsp13 on flow channel 2 (FC2), I used FC4 for a second biotin-SA capture attempt to immobilise Nsp13 onto the SA chip surface so that I can try to use AMP-PNP as a second control.

Unfortunately, the Response Unit values are much lower this second time around. (1303.1 RUs vs 9353.1 RUs). I used the same concentrations and dilutions as before, with the only

[2022-11-22 15:06] ClaratheChemist commented on #25
Hey Tom,

stange.... except the naoh washes you don't add anything else to prepare the surface? Try adding more concentrated protein. If the surface is still saturated, then the surface has a problem?

[2022-11-22 16:03] TomkUCL commented on #25
@ClaratheChemist No, only the NaOH/NaCl washes between runs. It could be the chip surface - this is one I have kept in the fridge for a couple of weeks after using for the initial capture experiment, so maybe the surface is not stable.

[2022-11-23 09:39] TomkUCL commented on #25
@SumeraMalik123 Is the affinity of ATP or ADP for Nsp13 known based on your kinetic studies? I am trying to work out some reasonable concentrations for screening AMP-PNP as a positive control. I was planning to start at 100mM and run a 1/2 times dilution series to, say 10nM.

[2022-11-23 09:44] TomkUCL commented on #25
The ONLY other possibility is buffer pH - I believe my homemade HBSEP+ buffer was at pH 7.6, and that of the 20x stock diluted is 7.4. Maybe enough to make a difference? I'll try 0.30 mM Nsp13 with the remaining buffer today.